<nav class="sort-pages modify-pages" id="navigation" role="navigation">
  <div class="container" style="padding-left: 0px; padding-right: 0px;">
    <ul class="no-padding pull-left" id="yui_patched_v3_11_0_1_1617876063640_121">
      <li class="site-title">
        SBN Retail Online
      </li>
      <li id="yui_patched_v3_11_0_1_1617876063640_177" class="">
        <a class="logo default-logo" routerLink="home" title="Go to sbnonline.bankmandiri.co.id" tabindex="0" id="yui_patched_v3_11_0_1_1617876063640_140">
          <img alt="sbnonline.bankmandiri.co.id" height="200" src="https://sbnonline.bankmandiri.co.id/login-theme/images/logo.png" width="150px" id="yui_patched_v3_11_0_1_1617876063640_182" style="width: auto;">
        </a>
      </li>
    </ul>
    <ul aria-label="Site Pages" role="menubar" class="pull-left main-menu">
      <li class="selected" id="layout_1" aria-selected="true" role="presentation">
        <!-- --> 
        <a aria-labelledby="layout_1" routerLink="home" role="menuitem" tabindex="-1" id="yui_patched_v3_11_0_1_1617876063640_142">
          <span>
            <img alt="Page Icon" src="https://sbnonline.bankmandiri.co.id/image/layout_icon?img_id=8739258&amp;t=1617768442521">
            HOME
          </span>
        </a>
      </li>
      <li class="" id="layout_4" role="presentation">
        <!-- --> 
        <a aria-labelledby="layout_4" routerLink="product-benefit" role="menuitem" tabindex="-1" id="yui_patched_v3_11_0_1_1617876063640_144">
          <span>
            <img alt="Page Icon" src="https://sbnonline.bankmandiri.co.id/image/layout_icon?img_id=8739255&amp;t=1617768442525">
            PRODUCTS &amp; BENEFITS
          </span>
        </a>
      </li>
      <li class="selected" id="layout_3" role="presentation">
        <!-- --> 
        <a aria-labelledby="layout_3" routerLink="faq" role="menuitem" tabindex="-1" id="yui_patched_v3_11_0_1_1617958249118_143">
          <span>
            <img alt="Page Icon" src="https://sbndev.bankmandiri.co.id/image/layout_icon?img_id=2099255&amp;t=1617958307881">
            FAQs
          </span>
        </a>
      </li>
      <li class="" id="layout_6" role="presentation">
        <!-- --> 
        <a aria-labelledby="layout_6" routerLink="contact-us" role="menuitem" tabindex="-1" id="yui_patched_v3_11_0_1_1617876063640_146">
          <span>
            <img alt="Page Icon" src="https://sbnonline.bankmandiri.co.id/image/layout_icon?img_id=8739257&amp;t=1617768442529">
            CONTACT US
          </span>
        </a>
      </li>
    </ul>
    <ul class="menu-right pull-right" style="line-height: 0.5;">
      <li>
        <a routerLink="web/sbn/login" tabindex="-1" id="yui_patched_v3_11_0_1_1617876063640_148">
          SIGN IN
        </a>
      </li>
      <li>
        <a routerLink="web/sbn/registration" tabindex="-1" id="yui_patched_v3_11_0_1_1617876063640_150">
          REGISTER
        </a>
      </li>
    </ul>
    <button class="hamburger hamburger--slider" type="button" id="btn-sidebar">
      <span class="hamburger-box">
        <span class="hamburger-inner">
        </span>
      </span>
    </button>
    <ul aria-label="Site Pages" role="menubar" class="mobile-menu">
      <li class="selected" id="layout_1" aria-selected="true" role="presentation">
        <!-- --> 
        <a aria-labelledby="layout_1" href="https://sbnonline.bankmandiri.co.id/home" role="menuitem" tabindex="-1" id="yui_patched_v3_11_0_1_1617876063640_152">
          <span>
            <img alt="Page Icon" src="https://sbnonline.bankmandiri.co.id/image/layout_icon?img_id=8739258&amp;t=1617768442521">
            HOME
          </span>
        </a>
      </li>
      <li class="" id="layout_4" role="presentation">
        <!-- --> 
        <a aria-labelledby="layout_4" href="https://sbnonline.bankmandiri.co.id/product-benefit" role="menuitem" tabindex="-1" id="yui_patched_v3_11_0_1_1617876063640_154">
          <span>
            <img alt="Page Icon" src="https://sbnonline.bankmandiri.co.id/image/layout_icon?img_id=8739255&amp;t=1617768442525">
            PRODUCTS &amp; BENEFITS
          </span>
        </a>
      </li>
      <li class="" id="layout_6" role="presentation">
        <!-- --> 
        <a aria-labelledby="layout_6" href="https://sbnonline.bankmandiri.co.id/contact-us" role="menuitem" tabindex="-1" id="yui_patched_v3_11_0_1_1617876063640_156">
          <span>
            <img alt="Page Icon" src="https://sbnonline.bankmandiri.co.id/image/layout_icon?img_id=8739257&amp;t=1617768442529">
            CONTACT US
          </span>
        </a>
      </li>
      <li>
        <a href="/web/sbn/login" tabindex="-1" id="yui_patched_v3_11_0_1_1617876063640_158">
          SIGN IN
        </a>
      </li>
    </ul>
  </div>
</nav>