@font-face { 
  font-family:GothamBook;
  src:url(https://sbnonline.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBook.otf);
} 
    .container-menu { 
    width: 100%; 
    background: transparent; 
    border-bottom: #ffc800 4px solid; 
    padding: 20px 0; 
    position: fixed; 
    z-index: 999; 
    transition: .5s; 
    -webkit-transition: .5s; 
    -o-transition: .5s; 
    -moz-transition: .5s; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: transparent; 
    border-bottom-width: 4px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(255, 200, 0); 
    padding-top: 20px; 
    padding-right: 0px; 
    padding-bottom: 20px; 
    padding-left: 0px; 
    transition-duration: 0.5s; 
    transition-timing-function: ease; 
    transition-delay: 0s; 
    transition-property: all;
  } 

  .container-menu.with-background { 
  background: #003264; 
  width: 100%; 
  left: 0; 
  border-bottom: #ffc800 4px solid; 
  padding: 5px 0; 
  top: 0; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(0, 50, 100); 
  border-bottom-width: 4px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 200, 0); 
  padding-top: 5px; 
  padding-right: 0px; 
  padding-bottom: 5px; 
  padding-left: 0px;
} 

body { 
  line-height: 1.5; 
  font-family: 'Roboto', sans-serif; 
  max-height: 100%; 
  overflow: hidden; 
  font-size: 16px; 
  overflow-x: hidden; 
  overflow-y: hidden;
} 

.aui body { 
  margin: 0; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px; 
  line-height: 20px; 
  color: #333; 
  background-color: white; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.aui body { 
  color: #000; 
  font-family: GothamBook; 
  font-size: 14px; 
  line-height: 20px; 
  margin: 0; 
  margin: 0 auto; 
  min-height: 100vh; 
  text-align: left; 
  margin-top: 0px; 
  margin-right: auto; 
  margin-bottom: 0px; 
  margin-left: auto;
} 

.aui body { 
  overflow: hidden; 
  overflow-x: hidden; 
  overflow-y: hidden;
} 

.aui.login-app body { 
  overflow-y: auto;
} 

.aui { 
  color: #333; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px; 
  line-height: 20px; 
  margin: 0; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav , .aui section { 
  display: block;
} 

:selection { 
  color: #fff; 
  background-color: #98c5e9;
} 

.container { 
  width: 1366px; 
  max-width: 100%;
} 

.container , .container , .container , .container  { 
  width: 940px;
} 

.container  { 
  margin-right: auto; 
  margin-left: auto;
} 

@media (min-width: 1200px){     
.container , .container , .container , .container  { 
  width: 1170px;
} 
}     

.container:before , .container:after  { 
  display: table; 
  content: ""; 
  line-height: 0;
} 

.clearfix:before , .clearfix:after , .container:before , .container:after , .container-fluid:before , .container-fluid:after , .row:before , .row:after , .form-group:before , .form-group:after  { 
  display: table; 
  content: " ";
} 

.container:after  { 
  clear: both;
} 

.clearfix:after , dd:after , .container:after , .container-fluid:after , .row:after  { 
  clear: both;
} 

.no-padding { 
  padding: 0 !important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

.no-padding { 
  padding: 0!important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

ul , .aui ol { 
  padding: 0; 
  margin: 0 0 10px 25px; 
  padding-top: 0px; 
  padding-right: 0px; 
  padding-bottom: 0px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 10px; 
  margin-left: 25px;
} 

ul  { 
  padding: 17px 0; 
  margin: 0; 
  padding-top: 17px; 
  padding-right: 0px; 
  padding-bottom: 17px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.pull-left  { 
  float: left;
} 

.pull-right  { 
  float: right;
} 

ul.menu-right  { 
font-size: 1.2rem;
} 

.hamburger { 
font: inherit; 
display: inline-block; 
overflow: visible; 
margin: 0; 
padding: 15px; 
cursor: pointer; 
transition-timing-function: linear; 
transition-duration: .15s; 
transition-property: opacity,filter; 
text-transform: none; 
color: inherit; 
border: 0; 
background-color: transparent; 
font-style: inherit; 
font-variant-ligatures: inherit; 
font-variant-caps: inherit; 
font-variant-numeric: inherit; 
font-variant-east-asian: inherit; 
font-weight: inherit; 
font-stretch: inherit; 
font-size: inherit; 
line-height: inherit; 
font-family: inherit; 
overflow-x: visible; 
overflow-y: visible; 
margin-top: 0px; 
margin-right: 0px; 
margin-bottom: 0px; 
margin-left: 0px; 
padding-top: 15px; 
padding-right: 15px; 
padding-bottom: 15px; 
padding-left: 15px; 
border-top-width: 0px; 
border-right-width: 0px; 
border-bottom-width: 0px; 
border-left-width: 0px; 
border-top-style: initial; 
border-right-style: initial; 
border-bottom-style: initial; 
border-left-style: initial; 
border-top-color: initial; 
border-right-color: initial; 
border-bottom-color: initial; 
border-left-color: initial; 
border-image-source: initial; 
border-image-slice: initial; 
border-image-width: initial; 
border-image-outset: initial; 
border-image-repeat: initial;
} 

.hamburger { 
display: none; 
float: right; 
outline: 0; 
outline-color: initial; 
outline-style: initial; 
outline-width: 0px;
} 

button , .aui input, .aui select, .aui textarea { 
margin: 0; 
font-size: 100%; 
vertical-align: middle; 
margin-top: 0px; 
margin-right: 0px; 
margin-bottom: 0px; 
margin-left: 0px;
} 

button , .aui input { 
line-height: normal;
} 

button , input[type="button"] , input[type="reset"] , input[type="submit"]  { 
-webkit-appearance: button; 
cursor: pointer; 
appearance: button;
} 

.aui label, .aui select, button , input[type="button"] , input[type="reset"] , input[type="submit"] , input[type="radio"] , input[type="checkbox"]  { 
cursor: pointer;
} 

.aui label, .aui input, button , .aui select, .aui textarea { 
font-size: 14px; 
font-weight: normal; 
line-height: 20px;
} 

.aui input, button , .aui select, .aui textarea { 
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} 

button  { 
-webkit-tap-highlight-color: transparent;
} 

ul.mobile-menu  { 
position: fixed; 
background: #003264; 
top: 72px; 
height: 100%; 
width: 100%; 
transition: .5s; 
-webkit-transition: .5s; 
-moz-transition: .5s; 
-o-transition: .5s; 
left: -100%; 
background-image: initial; 
background-position-x: initial; 
background-position-y: initial; 
background-size: initial; 
background-repeat-x: initial; 
background-repeat-y: initial; 
background-attachment: initial; 
background-origin: initial; 
background-clip: initial; 
background-color: rgb(0, 50, 100); 
transition-duration: 0.5s; 
transition-timing-function: ease; 
transition-delay: 0s; 
transition-property: all;
} 

li  { 
line-height: 20px;
} 

li  { 
position: relative;
} 

ul li  { 
display: inline-block; 
list-style: none; 
margin: 0 10px; 
text-transform: none; 
font-size: 1.2rem; 
list-style-position: initial; 
list-style-image: initial; 
list-style-type: none; 
margin-top: 0px; 
margin-right: 10px; 
margin-bottom: 0px; 
margin-left: 10px;
} 

ul li:first-child  { 
margin-left: 0;
} 

ul li.site-title  { 
width: auto; 
text-align: right; 
border-right: 1px solid #FFF; 
padding-right: 2rem; 
position: relative; 
top: .8rem; 
color: #FFF; 
height: 24px; 
padding-top: .2rem; 
display: none; 
border-right-width: 1px; 
border-right-style: solid; 
border-right-color: rgb(255, 255, 255);
} 

ul li:after  { 
content: url(https://sbnonline.bankmandiri.co.id/login-theme/images/icon-menu.png); 
margin-left: 30px;
} 

ul li.site-title:after  { 
content: ''; 
margin: 0; 
margin-top: 0px; 
margin-right: 0px; 
margin-bottom: 0px; 
margin-left: 0px;
} 

ul li:last-child  { 
margin-right: 0;
} 

ul li:last-child:after  { 
content: ''; 
position: absolute;
} 

.hamburger-box { 
position: relative; 
display: inline-block; 
width: 40px; 
height: 24px;
} 

ul.mobile-menu li  { 
display: block; 
margin: 18px 20px; 
border-bottom: 2px solid #FFF; 
padding-bottom: 1rem; 
margin-top: 18px; 
margin-right: 20px; 
margin-bottom: 18px; 
margin-left: 20px; 
border-bottom-width: 2px; 
border-bottom-style: solid; 
border-bottom-color: rgb(255, 255, 255);
} 

ul.mobile-menu li:after  { 
content: '';
} 

.logo { 
display: inline-block; 
line-height: 1; 
vertical-align: middle;
} 

a  { 
color: #0af; 
text-decoration: none; 
text-decoration-line: none; 
text-decoration-thickness: initial; 
text-decoration-style: initial; 
text-decoration-color: initial;
} 

a  { 
color: #000;
} 

a  { 
color: #FFF;
} 

.default-logo  { 
position: relative; 
top: .5rem; 
margin-right: 1rem;
} 

.hamburger-inner { 
top: 50%; 
display: block; 
margin-top: -2px;
} 

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before { 
position: absolute; 
width: 40px; 
height: 4px; 
transition-timing-function: ease; 
transition-duration: .15s; 
transition-property: transform; 
border-radius: 4px; 
background-color: #000; 
border-top-left-radius: 4px; 
border-top-right-radius: 4px; 
border-bottom-right-radius: 4px; 
border-bottom-left-radius: 4px;
} 

.hamburger--slider .hamburger-inner  { 
top: 2px;
} 

.hamburger .hamburger-inner , .hamburger .hamburger-inner:after , .hamburger .hamburger-inner:before  { 
background: #FFF; 
background-image: initial; 
background-position-x: initial; 
background-position-y: initial; 
background-size: initial; 
background-repeat-x: initial; 
background-repeat-y: initial; 
background-attachment: initial; 
background-origin: initial; 
background-clip: initial; 
background-color: rgb(255, 255, 255);
} 

.hamburger-inner:after, .hamburger-inner:before { 
display: block; 
content: "";
} 

.hamburger-inner:before { 
top: -10px;
} 

.hamburger--slider .hamburger-inner:before  { 
top: 10px; 
transition-timing-function: ease; 
transition-duration: .15s; 
transition-property: transform,opacity;
} 

.hamburger-inner:after { 
bottom: -10px;
} 

.hamburger--slider .hamburger-inner:after  { 
top: 20px;
} 

img  { 
max-width: 100%;
} 

img  { 
max-width: 100%; 
width: auto\9; 
height: auto; 
vertical-align: middle; 
border: 0; 
-ms-interpolation-mode: bicubic; 
border-top-width: 0px; 
border-right-width: 0px; 
border-bottom-width: 0px; 
border-left-width: 0px; 
border-top-style: initial; 
border-right-style: initial; 
border-bottom-style: initial; 
border-left-style: initial; 
border-top-color: initial; 
border-right-color: initial; 
border-bottom-color: initial; 
border-left-color: initial; 
border-image-source: initial; 
border-image-slice: initial; 
border-image-width: initial; 
border-image-outset: initial; 
border-image-repeat: initial;
} 

ul li img  { 
width: 18px; 
margin-right: 12px; 
position: relative; 
top: -1px;
} 

.default-logo img  { 
width: 120px;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, nav , .aui section { 
display: block;
} 

nav ul  { 
padding: 17px 0; 
margin: 0; 
padding-top: 17px; 
padding-right: 0px; 
padding-bottom: 17px; 
padding-left: 0px; 
margin-top: 0px; 
margin-right: 0px; 
margin-bottom: 0px; 
margin-left: 0px;
} 

nav ul.mobile-menu  { 
position: fixed; 
background: #003264; 
top: 72px; 
height: 100%; 
width: 100%; 
transition: .5s; 
-webkit-transition: .5s; 
-moz-transition: .5s; 
-o-transition: .5s; 
left: -100%; 
background-image: initial; 
background-position-x: initial; 
background-position-y: initial; 
background-size: initial; 
background-repeat-x: initial; 
background-repeat-y: initial; 
background-attachment: initial; 
background-origin: initial; 
background-clip: initial; 
background-color: rgb(0, 50, 100); 
transition-duration: 0.5s; 
transition-timing-function: ease; 
transition-delay: 0s; 
transition-property: all;
} 

.modify-pages li  { 
position: relative;
} 

nav ul li  { 
display: inline-block; 
list-style: none; 
margin: 0 10px; 
text-transform: none; 
font-size: 1.2rem; 
list-style-position: initial; 
list-style-image: initial; 
list-style-type: none; 
margin-top: 0px; 
margin-right: 10px; 
margin-bottom: 0px; 
margin-left: 10px;
} 

nav ul li:first-child  { 
margin-left: 0;
} 

nav ul li.site-title  { 
width: auto; 
text-align: right; 
border-right: 1px solid #FFF; 
padding-right: 2rem; 
position: relative; 
top: .8rem; 
color: #FFF; 
height: 24px; 
padding-top: .2rem; 
display: none; 
border-right-width: 1px; 
border-right-style: solid; 
border-right-color: rgb(255, 255, 255);
} 

nav ul li:after  { 
content: url(https://sbnonline.bankmandiri.co.id/login-theme/images/icon-menu.png); 
margin-left: 30px;
} 

nav ul li.site-title:after  { 
content: ''; 
margin: 0; 
margin-top: 0px; 
margin-right: 0px; 
margin-bottom: 0px; 
margin-left: 0px;
} 

nav ul li:last-child  { 
margin-right: 0;
} 

nav ul li:last-child:after  { 
content: ''; 
position: absolute;
} 

nav ul.mobile-menu li  { 
display: block; 
margin: 18px 20px; 
border-bottom: 2px solid #FFF; 
padding-bottom: 1rem; 
margin-top: 18px; 
margin-right: 20px; 
margin-bottom: 18px; 
margin-left: 20px; 
border-bottom-width: 2px; 
border-bottom-style: solid; 
border-bottom-color: rgb(255, 255, 255);
} 

nav ul.mobile-menu li:after  { 
content: '';
} 

nav ul li img  { 
width: 18px; 
margin-right: 12px; 
position: relative; 
top: -1px;
} 

  