@font-face { 
font-family:GothamLight;
src:url(https://sbndev.bankmandiri.co.id/login-theme/fonts/Gotham/GothamLight.otf);
} 
@font-face { 
font-family:GothamBook;
src:url(https://sbndev.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBook.otf);
} 
@font-face { 
font-family:GothamBold;
src:url(https://sbndev.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBold.otf);
} 
.portlet-content, .portlet-minimized .portlet-content-container { 
    padding: 0 !important; 
    padding-top: 0px !important; 
    padding-right: 0px !important; 
    padding-bottom: 0px !important; 
    padding-left: 0px !important;
} 

.portlet-content, .portlet-minimized .portlet-content-container { 
    padding: 12px 10px 10px; 
    padding-top: 12px; 
    padding-right: 10px; 
    padding-bottom: 10px; 
    padding-left: 10px;
} 

.wrapper-login .portlet-content { 
    padding: 0; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.portlet { 
    background: transparent !important; 
    margin-bottom: 0 !important; 
    background-image: initial !important; 
    background-position-x: initial !important; 
    background-position-y: initial !important; 
    background-size: initial !important; 
    background-repeat-x: initial !important; 
    background-repeat-y: initial !important; 
    background-attachment: initial !important; 
    background-origin: initial !important; 
    background-clip: initial !important; 
    background-color: transparent !important;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav, .aui section { 
    display: block;
} 

[class*="span"]  { 
    float: left; 
    min-height: 1px; 
    margin-left: 20px;
} 

.aui .span12 { 
    width: 940px;
} 

@media (min-width: 1200px){     
[class*="span"]  { 
    float: left; 
    min-height: 1px; 
    margin-left: 30px;
} 
}     

@media (min-width: 1200px){     
.aui .span12 { 
    width: 1170px;
} 
}     

[class*="span"]  { 
    display: block; 
    width: 100%; 
    min-height: 30px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    float: left; 
    margin-left: 2.12766%;
} 

.aui .row-fluid .span12 { 
    width: 100%;
} 

@media (min-width: 1200px){     
[class*="span"]  { 
    display: block; 
    width: 100%; 
    min-height: 30px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    float: left; 
    margin-left: 2.5641%;
} 
}     

@media (min-width: 1200px){     
.aui .row-fluid .span12 { 
    width: 100%;
} 
}     

[class*="span"]  { 
    box-sizing: border-box; 
    display: block; 
    float: right; 
    margin-left: 0; 
    min-height: 30px; 
    margin-top: 10%;
} 

[class*="span"]  { 
    margin-top: 0; 
    float: left;
} 

[class*="span"]:first-child  { 
    margin-left: 0;
} 

@media (min-width: 1200px){     
[class*="span"]:first-child  { 
    margin-left: 0;
} 
}     

.aui .row-fluid { 
    width: 100%;
} 

@media (min-width: 1200px){     
.aui .row-fluid { 
    width: 100%;
} 
}     

#content { 
    text-align: center;
} 

#content { 
    text-align: left;
} 

#content { 
    margin-top: 4.8rem;
} 

body { 
    line-height: 1.5; 
    font-family: 'Roboto', sans-serif; 
    max-height: 100%; 
    overflow: hidden; 
    font-size: 16px; 
    overflow-x: hidden; 
    overflow-y: hidden;
} 

.aui body { 
    margin: 0; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 20px; 
    color: #333; 
    background-color: white; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

.aui body { 
    color: #000; 
    font-family: GothamBook; 
    font-size: 14px; 
    line-height: 20px; 
    margin: 0; 
    margin: 0 auto; 
    min-height: 100vh; 
    text-align: left; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

.aui body { 
    overflow: hidden; 
    overflow-x: hidden; 
    overflow-y: hidden;
} 

.aui.login-app body { 
    overflow-y: auto;
} 

.aui { 
    color: #333; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 20px; 
    margin: 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

.portlet-journal-content .journal-content-article  { 
    clear: right;
} 

.journal-content-article:after  { 
    clear: both; 
    content: ""; 
    display: block; 
    height: 0;
} 

:selection { 
    color: #fff; 
    background-color: #98c5e9;
} 

.container { 
    width: 1366px; 
    max-width: 100%;
} 

.container , .container , .container , .container  { 
    width: 940px;
} 

.container  { 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 1200px){     
.container , .container , .container , .container  { 
    width: 1170px;
} 
}     

.container:before , .container:after  { 
    display: table; 
    content: ""; 
    line-height: 0;
} 

.clearfix:before , .clearfix:after , .container:before , .container:after , .container-fluid:before , .container-fluid:after , .row:before , .row:after , .form-group:before , .form-group:after  { 
    display: table; 
    content: " ";
} 

.container:after  { 
    clear: both;
} 

.clearfix:after , dd:after , .container:after , .container-fluid:after , .row:after  { 
    clear: both;
} 

.container-faq { 
    padding: 6rem 0; 
    width: 55%; 
    margin: 0 auto; 
    padding-top: 6rem; 
    padding-right: 0px; 
    padding-bottom: 6rem; 
    padding-left: 0px; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
} 

.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp;
} 

.vp-fadein, .vp-fadeinup, .vp-fadeinright, .vp-fadeindown, .vp-fadeinleft, .vp-slideinup, .vp-slideinright, .vp-slideindown, .vp-slideinleft, .vp-rotatein, .vp-rorateinupright, .vp-rotateinupleft, .vp-rotateindownright, .vp-rotateindownleft, .vp-zoomin, .vp-zoominup, .vp-zoominright, .vp-zoomindown, .vp-zoominleft, .vp-jackinthebox, .vp-rollin, .vp-rollout { 
    opacity: 0;
} 

.animated { 
    opacity: 0;
} 

.visible { 
    opacity: 1;
} 

.aui h1, .aui h2, h3 , .aui h4, .aui h5, .aui h6 { 
    margin: 10px 0; 
    font-family: inherit; 
    font-weight: bold; 
    line-height: 20px; 
    color: inherit; 
    text-rendering: optimizelegibility; 
    margin-top: 10px; 
    margin-right: 0px; 
    margin-bottom: 10px; 
    margin-left: 0px;
} 

.aui h1, .aui h2, h3  { 
    line-height: 40px;
} 

h3  { 
    font-size: 24.5px;
} 

.aui h1, .aui h2, h3  { 
    line-height: 20px;
} 

.container-faq .title-faq  { 
    text-align: center; 
    margin-bottom: 4rem; 
    font-weight: normal;
} 

.container-faq .title  { 
    padding: 20px 0; 
    border-bottom: 1px solid #CCC; 
    cursor: pointer; 
    padding-top: 20px; 
    padding-right: 0px; 
    padding-bottom: 20px; 
    padding-left: 0px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(204, 204, 204);
} 

.container-faq .value  { 
    padding: 20px 0; 
    border-bottom: 1px solid #ccc; 
    padding-top: 0; 
    padding-right: 0px; 
    padding-bottom: 20px; 
    padding-left: 0px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(204, 204, 204);
} 

.right { 
    float: right;
} 

.material-icons { 
    font-family: 'Material Icons'; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 24px; 
    display: inline-block; 
    line-height: 1; 
    text-transform: none; 
    letter-spacing: normal; 
    word-wrap: normal; 
    white-space: nowrap; 
    direction: ltr; 
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility; 
    -moz-osx-font-smoothing: grayscale; 
    font-feature-settings: 'liga'; 
    overflow-wrap: normal;
} 

.container-faq .title .arr_up  { 
    display: none;
} 

.container-faq .title .arr_down  { 
    display: block;
} 

.container-faq .title span  { 
    color: #003362;
} 

p  { 
    margin: 0 0 10px; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 10px; 
    margin-left: 0px;
} 

.container-faq .value p  { 
    font-size: 12px; 
    color: #a8a8a8;
} 

.cxrus-mantreasure-btn { 
    text-transform: uppercase; 
    border-radius: 20px; 
    display: inline-block; 
    padding: 7px; 
    text-align: center; 
    font-family: GothamBold!important; 
    font-size: 11px!important; 
    border-style: solid; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px; 
    padding-top: 7px; 
    padding-right: 7px; 
    padding-bottom: 7px; 
    padding-left: 7px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid;
} 

a  { 
    color: #0af; 
    text-decoration: none; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
} 

a  { 
    color: #000;
} 

a  { 
    color: #FFF;
} 

.cxrus-mantreasure-btn.blue { 
    background-color: #73c3f5!important; 
    color: white!important; 
    border-color: #73c3f5!important; 
    padding: 7px 25px; 
    outline: 0; 
    transition: .3s; 
    -webkit-transition: .3s; 
    -moz-transition: .3s; 
    -o-transition: .3; 
    padding-top: 7px; 
    padding-right: 25px; 
    padding-bottom: 7px; 
    padding-left: 25px; 
    outline-color: initial; 
    outline-style: initial; 
    outline-width: 0px; 
    transition-duration: 0.3s; 
    transition-timing-function: ease; 
    transition-delay: 0s; 
    transition-property: all; 
    border-top-color: rgb(115, 195, 245) !important; 
    border-right-color: rgb(115, 195, 245) !important; 
    border-bottom-color: rgb(115, 195, 245) !important; 
    border-left-color: rgb(115, 195, 245) !important;
} 

.container-faq .value a  { 
    color: #0af;
} 

img  { 
    max-width: 100%;
} 

img  { 
    max-width: 100%; 
    width: auto\9; 
    height: auto; 
    vertical-align: middle; 
    border: 0; 
    -ms-interpolation-mode: bicubic; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-top-style: initial; 
    border-right-style: initial; 
    border-bottom-style: initial; 
    border-left-style: initial; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: initial; 
    border-left-color: initial; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial;
} 

strong  { 
    font-weight: bold;
} 

em  { 
    font-style: italic;
} 

.aui .container, .aui .navbar-static-top .container, .aui .navbar-fixed-top .container, .aui .navbar-fixed-bottom .container { 
    width: 940px;
} 

.aui .container { 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 1200px){     
.aui .container, .aui .navbar-static-top .container, .aui .navbar-fixed-top .container, .aui .navbar-fixed-bottom .container { 
    width: 1170px;
} 
}     

.portlet-journal-content .journal-content-article { 
    clear: right;
} 

.title-faq  { 
    text-align: center; 
    margin-bottom: 4rem; 
    font-weight: normal;
} 

.title  { 
    padding: 20px 0; 
    border-bottom: 1px solid #CCC; 
    cursor: pointer; 
    padding-top: 20px; 
    padding-right: 0px; 
    padding-bottom: 20px; 
    padding-left: 0px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(204, 204, 204);
} 

.value  { 
    padding: 20px 0; 
    border-bottom: 1px solid #ccc; 
    padding-top: 0; 
    padding-right: 0px; 
    padding-bottom: 20px; 
    padding-left: 0px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(204, 204, 204);
} 

.title .arr_up  { 
    display: none;
} 

.title .arr_down  { 
    display: block;
} 

.title span  { 
    color: #003362;
} 

.value p  { 
    font-size: 12px; 
    color: #a8a8a8;
} 

.value a  { 
    color: #0af;
} 

.arr_up  { 
    display: none;
} 

.arr_down  { 
    display: block;
} 

span  { 
    color: #003362;
} 

.row  { 
    margin-left: -20px;
} 

@media (min-width: 1200px){     
.row  { 
    margin-left: -30px;
} 
}     

.row  { 
    margin: 0; 
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

.container-contact { 
    padding: 6rem 0; 
    padding-top: 6rem; 
    padding-right: 0px; 
    padding-bottom: 6rem; 
    padding-left: 0px;
} 

.col-sm-1 , .cxrus-mantreasure-wrapper .col-sm-2, .cxrus-mantreasure-wrapper .col-sm-3, .cxrus-mantreasure-wrapper .col-sm-4, .col-sm-5 , .cxrus-mantreasure-wrapper .col-sm-6 , .cxrus-mantreasure-wrapper .col-sm-7, .cxrus-mantreasure-wrapper .col-sm-8, .cxrus-mantreasure-wrapper .col-sm-9, .cxrus-mantreasure-wrapper .col-sm-10, .cxrus-mantreasure-wrapper .col-sm-11, .col-sm-12  { 
    float: left; 
    position: relative; 
    min-height: 1px;
} 

.cxrus-mantreasure-wrapper .col-sm-6  { 
    width: 50%;
} 

.container-contact .col-sm-6  { 
    width: 50%; 
    float: left; 
    position: relative; 
    min-height: 1px; 
    display: flex;
} 

.container-contact .content-form  { 
    padding: 3rem 6rem; 
    width: 35%; 
    background: #f5f5f5; 
    border-radius: 0 20px 20px 0; 
    padding-top: 3rem; 
    padding-right: 6rem; 
    padding-bottom: 3rem; 
    padding-left: 6rem; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(245, 245, 245); 
    border-top-left-radius: 0px; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 0px;
} 

.row:before , .row:after  { 
    display: table; 
    content: ""; 
    line-height: 0;
} 

@media (min-width: 1200px){     
.row:before , .row:after  { 
    display: table; 
    content: ""; 
    line-height: 0;
} 
}     

.row:after  { 
    clear: both;
} 

@media (min-width: 1200px){     
.row:after  { 
    clear: both;
} 
}     

.title-contact  { 
    font-weight: normal; 
    margin-bottom: 1.5rem;
} 

form  { 
    margin: 0 0 20px; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 20px; 
    margin-left: 0px;
} 

button , input , .aui select, textarea  { 
    margin: 0; 
    font-size: 100%; 
    vertical-align: middle; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

button , input  { 
    line-height: normal;
} 

label , input , button , .aui select, textarea  { 
    font-size: 14px; 
    font-weight: normal; 
    line-height: 20px;
} 

input , button , .aui select, textarea  { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} 

input , textarea , .aui .uneditable-input { 
    width: 206px;
} 

input , textarea , .aui .uneditable-input { 
    margin-left: 0;
} 

@media (min-width: 1200px){     
input , textarea , .aui .uneditable-input { 
    margin-left: 0;
} 
}     

.col-sm-5  { 
    width: 41.66667%;
} 

.col-sm-1  { 
    width: 8.33333%;
} 

.col-sm-12  { 
    width: 100%;
} 

.col-sm-12  { 
    width: 100%; 
    float: left; 
    position: relative; 
    min-height: 1px;
} 

.control-group  { 
    margin-bottom: 10px;
} 

.control-group  { 
    margin-bottom: 35px; 
    width: 100%!important;
} 

.value  { 
    font-family: GothamLight; 
    font-size: 12px; 
    text-transform: capitalize; 
    color: #999;
} 

.cxrus-mantreasure-btn.grey { 
    background-color: #bbb!important; 
    color: white!important; 
    border-color: #bbb!important; 
    padding: 6px 25px; 
    outline: 0; 
    transition: .3s; 
    -webkit-transition: .3s; 
    -moz-transition: .3s; 
    -o-transition: .3; 
    padding-top: 6px; 
    padding-right: 25px; 
    padding-bottom: 6px; 
    padding-left: 25px; 
    outline-color: initial; 
    outline-style: initial; 
    outline-width: 0px; 
    transition-duration: 0.3s; 
    transition-timing-function: ease; 
    transition-delay: 0s; 
    transition-property: all; 
    border-top-color: rgb(187, 187, 187) !important; 
    border-right-color: rgb(187, 187, 187) !important; 
    border-bottom-color: rgb(187, 187, 187) !important; 
    border-left-color: rgb(187, 187, 187) !important;
} 

button , input[type="button"] , input[type="reset"] , input[type="submit"]  { 
    -webkit-appearance: button; 
    cursor: pointer; 
    appearance: button;
} 

label , .aui select, button , input[type="button"] , input[type="reset"] , input[type="submit"] , input[type="radio"] , input[type="checkbox"]  { 
    cursor: pointer;
} 

button  { 
    -webkit-tap-highlight-color: transparent;
} 

label  { 
    display: block; 
    margin-bottom: 5px;
} 

.control-group label  { 
    font-size: 14px; 
    margin-bottom: 0; 
    text-transform: uppercase; 
    color: #003362; 
    font-family: GothamBold;
} 

.aui select, textarea , input[type="text"] , input[type="password"] , input[type="datetime"] , input[type="datetime-local"] , input[type="date"] , input[type="month"] , input[type="time"] , input[type="week"] , input[type="number"] , input[type="email"] , input[type="url"] , input[type="search"] , input[type="tel"] , input[type="color"] , .aui .uneditable-input { 
    display: inline-block; 
    height: 20px; 
    padding: 4px 6px; 
    margin-bottom: 10px; 
    font-size: 14px; 
    line-height: 20px; 
    color: #555; 
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    vertical-align: middle; 
    padding-top: 4px; 
    padding-right: 6px; 
    padding-bottom: 4px; 
    padding-left: 6px; 
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px; 
    border-bottom-left-radius: 2px;
} 

textarea , input[type="text"] , input[type="password"] , input[type="datetime"] , input[type="datetime-local"] , input[type="date"] , input[type="month"] , input[type="time"] , input[type="week"] , input[type="number"] , input[type="email"] , input[type="url"] , input[type="search"] , input[type="tel"] , input[type="color"] , .aui .uneditable-input { 
    background-color: white; 
    border: 1px solid #ccc; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); 
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); 
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); 
    -webkit-transition: border linear .2s,box-shadow linear .2s; 
    -moz-transition: border linear .2s,box-shadow linear .2s; 
    -o-transition: border linear .2s,box-shadow linear .2s; 
    transition: border linear .2s,box-shadow linear .2s; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(204, 204, 204); 
    border-right-color: rgb(204, 204, 204); 
    border-bottom-color: rgb(204, 204, 204); 
    border-left-color: rgb(204, 204, 204); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    transition-duration: 0.2s, 0.2s; 
    transition-timing-function: linear, linear; 
    transition-delay: 0s, 0s; 
    transition-property: border, box-shadow;
} 

.control-group input  { 
    background-color: #eee; 
    background-image: none; 
    border-color: none; 
    border: 0 none; 
    border-radius: 10px; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset; 
    color: #555; 
    display: block; 
    font-size: 14px; 
    height: 34px; 
    line-height: 1.42857; 
    padding: 6px 12px; 
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-top-style: none; 
    border-right-style: none; 
    border-bottom-style: none; 
    border-left-style: none; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: initial; 
    border-left-color: initial; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    padding-top: 6px; 
    padding-right: 12px; 
    padding-bottom: 6px; 
    padding-left: 12px; 
    transition-duration: 0.15s, 0.15s; 
    transition-timing-function: ease-in-out, ease-in-out; 
    transition-delay: 0s, 0s; 
    transition-property: border-color, box-shadow;
} 

.control-group input[type="text"] , .control-group textarea  { 
    width: 100%!important; 
    padding: 0; 
    height: 35px; 
    font-size: 14px; 
    line-height: 2; 
    margin: 5px 0 0 0; 
    min-height: inherit; 
    max-width: 100%!important; 
    box-sizing: border-box; 
    border: 0; 
    border-bottom: 1px solid #ccc; 
    box-shadow: none; 
    border-radius: 0; 
    background: transparent; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    margin-top: 5px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-left-width: 0px; 
    border-top-style: initial; 
    border-right-style: initial; 
    border-left-style: initial; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-left-color: initial; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(204, 204, 204); 
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: transparent;
} 

textarea  { 
    overflow: auto; 
    vertical-align: top; 
    overflow-x: auto; 
    overflow-y: auto;
} 

textarea  { 
    height: auto;
} 

.control-group textarea  { 
    height: 85px;
} 

a.taglib-icon, a.taglib-icon:focus, a.taglib-icon:hover { 
    text-decoration: none; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
} 

.refresh-captcha { 
    background-image: url('https://sbndev.bankmandiri.co.id/sbn-retail-online-theme/sprite/images/portlet/_sprite.png'); 
    background-position: 50% -307px; 
    background-repeat: no-repeat; 
    height: 16px; 
    width: 16px; 
    background-position-x: 50%; 
    background-position-y: -307px; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.hide-accessible  { 
    clip: rect(0 0 0 0)!important; 
    position: absolute!important; 
    -webkit-transform: scale(0); 
    -webkit-transform-origin-x: 0; 
    -webkit-transform-origin-y: 0; 
    _position: absolute!important; 
    transform: scale(0);
} 

.col-sm-1 , .cxrus-mantreasure-wrapper .col-sm-2, .cxrus-mantreasure-wrapper .col-sm-3, .cxrus-mantreasure-wrapper .col-sm-4, .col-sm-5 , .col-sm-6 , .cxrus-mantreasure-wrapper .col-sm-7, .cxrus-mantreasure-wrapper .col-sm-8, .cxrus-mantreasure-wrapper .col-sm-9, .cxrus-mantreasure-wrapper .col-sm-10, .cxrus-mantreasure-wrapper .col-sm-11, .col-sm-12  { 
    float: left; 
    position: relative; 
    min-height: 1px;
} 

.col-sm-6  { 
    width: 50%;
} 

.col-sm-6  { 
    width: 50%; 
    float: left; 
    position: relative; 
    min-height: 1px; 
    display: flex;
} 

.content-map  { 
    border-radius: 20px 0 0 20px; 
    overflow: hidden; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 20px; 
    overflow-x: hidden; 
    overflow-y: hidden;
} 

.content-form  { 
    padding: 3rem 6rem; 
    width: 35%; 
    background: #f5f5f5; 
    border-radius: 0 20px 20px 0; 
    padding-top: 3rem; 
    padding-right: 6rem; 
    padding-bottom: 3rem; 
    padding-left: 6rem; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(245, 245, 245); 
    border-top-left-radius: 0px; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 0px;
} 

iframe  { 
    border-radius: 20px; 
    box-shadow: none; 
    height: auto; 
    width: 100%; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px;
} 

.content-map .map-info  { 
    background: rgba(0,0,0,0.8); 
    width: 197px; 
    position: absolute; 
    bottom: 5px; 
    border-radius: 0 15px 0 15px; 
    padding: 15px 36px; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgba(0, 0, 0, 0.8); 
    border-top-left-radius: 0px; 
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 15px; 
    padding-top: 15px; 
    padding-right: 36px; 
    padding-bottom: 15px; 
    padding-left: 36px;
} 

.title  { 
    font-family: GothamBold; 
    text-transform: uppercase; 
    color: #003264; 
    margin-top: 20px; 
    margin-bottom: 5px; 
    font-size: 12px;
} 

.content-map .map-info .title , .content-map .map-info .value  { 
    color: #FFF;
} 

