<div class="container-detail container-contact XXsnipcss_extracted_selector_selectionXX">
  <div class="container">
    <div class="row">
      <div class="content-map col-xs-12 col-sm-6">
        <iframe allowfullscreen="" frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.3001715464925!2d106.80570191536343!3d-6.2240947954944845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f151b6d551bb%3A0xb4680383662b5dcd!2sPlaza+Bapindo+-+Mandiri+Tower!5e0!3m2!1sid!2sid!4v1516675329779" style="border: 0" width="90%">
        </iframe>
        <div class="map-info">
          <p class="title">
            Menara Mandiri
          </p>
          <p class="value">
            Plaza Bapindo, Menara Mandiri I - 23th Floor Jalan Sudirman Kav.54-55, Jakarta Selatan 12190
          </p>
        </div>
      </div>
      <div class="content-form col-sm-6 col-xs-12">
        <div class="row">
          <h3 class="title-contact">
            Contact Us
          </h3>
          <form action="https://sbndev.bankmandiri.co.id:443/contact-us?p_auth=7b5balGD&amp;p_p_id=sbncontactus_WAR_sbncontactusportlet&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_sbncontactus_WAR_sbncontactusportlet_action=sendEmail" class="form " id="_sbncontactus_WAR_sbncontactusportlet_fm1" method="post" name="_sbncontactus_WAR_sbncontactusportlet_fm1">
            <input name="_sbncontactus_WAR_sbncontactusportlet_formDate" type="hidden" value="1617954404547">
            <div class="col-sm-5">
              <div class="control-group input-text-wrapper">
                <label class="control-label" for="_sbncontactus_WAR_sbncontactusportlet_email">
                  Email 
                </label>
                <input class="field" id="_sbncontactus_WAR_sbncontactusportlet_email" name="_sbncontactus_WAR_sbncontactusportlet_email" type="text" value="">
              </div>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-6">
              <div class="control-group input-text-wrapper">
                <label class="control-label" for="_sbncontactus_WAR_sbncontactusportlet_name">
                  Name 
                </label>
                <input class="field" id="_sbncontactus_WAR_sbncontactusportlet_name" name="_sbncontactus_WAR_sbncontactusportlet_name" type="text" value="">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="control-group input-text-wrapper">
                <label class="control-label" for="_sbncontactus_WAR_sbncontactusportlet_subject">
                  Subject 
                </label>
                <input class="field" id="_sbncontactus_WAR_sbncontactusportlet_subject" name="_sbncontactus_WAR_sbncontactusportlet_subject" type="text" value="">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="control-group input-text-wrapper">
                <label class="control-label" for="_sbncontactus_WAR_sbncontactusportlet_message">
                  Message 
                </label>
                <textarea class="field" id="_sbncontactus_WAR_sbncontactusportlet_message" name="_sbncontactus_WAR_sbncontactusportlet_message">
                </textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <p class="value">
                <img alt="Image Captcha" class="captcha" id="_sbncontactus_WAR_sbncontactusportlet__imgCaptcha" src="https://sbndev.bankmandiri.co.id/contact-us?p_p_id=sbncontactus_WAR_sbncontactusportlet&amp;p_p_lifecycle=2&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_resource_id=serveImage&amp;p_p_cacheability=cacheLevelPage&amp;p_p_col_id=column-1&amp;p_p_col_count=1">
                <span class="refresh" onmouseover="Liferay.Portal.ToolTip.show(this, 'Refresh CAPTCHA')">
                  <a href="javascript:;" target="_self" class=" taglib-icon" id="_sbncontactus_WAR_sbncontactusportlet__refreshCaptcha">
                    <img id="refreshCaptcha" src="https://sbndev.bankmandiri.co.id/sbn-retail-online-theme/images/spacer.png" alt="Refresh CAPTCHA" title="Refresh CAPTCHA" class="refresh-captcha">
                    <span class="taglib-text hide-accessible">
                      Refresh CAPTCHA
                    </span>
                  </a>
                </span>
              </p>
            </div>
            <div class="col-sm-6">
              <div class="control-group input-text-wrapper">
                <label class="control-label" for="_sbncontactus_WAR_sbncontactusportlet_captchaText">
                  CAPTCHA 
                </label>
                <input class="field" id="_sbncontactus_WAR_sbncontactusportlet_captchaText" name="_sbncontactus_WAR_sbncontactusportlet_captchaText" type="text" value="">
              </div>
            </div>
            <div class="col-sm-12">
              <a class="cxrus-mantreasure-btn grey" href="javascript:resetForm();">
                Hapus
              </a>
              <button class="cxrus-mantreasure-btn blue right" type="submit">
                kirim 
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>