<footer id="footer" role="contentinfo" class="XXsnipcss_extracted_selector_selectionXX">
    <div class="container">
      <div class="content-top">
        <div class="row">
          <div class="col-sm-4 col-xs-12" style="padding-right: 31.0938px;">
            <h1>
              Mandiri SBN Ritel Online
            </h1>
            <p style="text-align: justify;">
              Layanan Mandiri SBN Ritel Online adalah sebuah portal berisi informasi di web browser yang menyediakan akses pemesanan SBN Ritel di Pasar Perdana berkolaborasi dengan Kementrian Keuangan. Dapatkan kemudahan melakukan pemesanan SBN Ritel dengan terlebih dahulu melakukan registrasi melalui website SBN Online atau melalui cabang Bank Mandiri terdekat.
            </p>
          </div>
          <div class="col-sm-2 col-xs-12">
            <h1>
              Other
            </h1>
            <ul>
              <li>
                <a href="/product-benefit">
                  Products &amp; Benefits
                </a>
              </li>
              <li style="margin-left: 0px;">
                <a href="/faq">
                  FAQs
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-12">
            <h1>
              Contact
            </h1>
            <p>
              Jika Anda ingin mengetahui informasi lebih lanjut silahkan menghubungi&nbsp;
              <span class="text-yellow" style="font-size: 10px; top: auto;">
                mandiricall 14000&nbsp;
              </span>
              atau Anda bisa mengirimkan pesan melalui&nbsp;
              <a href="/contact-us">
                Contact Us
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="content-bottom">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <p class="cxrus-mantreasure-cwhite">
              Copyright&nbsp;. PT Bank Mandiri (Persero) Tbk. All Rights Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="backtotop" style="display: block;">
      <i class="material-icons">
        arrow_upward
      </i>
    </div> -->
  </footer>