<div class="container XXsnipcss_extracted_selector_selectionXX">
    <div class="container-faq">
      <h3 class="title-faq vp-fadeinup visible animated fadeInUp full-visible">
        Any Question
      </h3>
      <div id="accordion">
        <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseOne">
            <span>
                Apa yang dimaksud dengan ... ?
            </span>
          </div>
          <div id="collapseOne" class="collapse value" data-parent="#accordion">
            <div class="card-body">
                <p>
                    Layanan Mandiri SBN Ritel Online adalah sebuah portal investasi Surat Berharga Negara Ritel secara online sebagai bentuk kerja sama Bank Mandiri dengan Kementrian Keuangan, yang memberikan kemudahan akses bagi nasabah untuk dapat melakukan pemesanan Surat Berharga Negara secara Online pada https://www.sbnonline.bankmandiri.co.id , tanpa harus melalui Kantor Cabang Bank Mandiri.
                </p>
            </div>
          </div>
        </div>
      </div>
      <div id="accordion2">
          <div class="card">
              <div class="card-header title" data-toggle="collapse" data-target="#collapseTwo"> 
                  <span>
                    Produk Surat Berharga apa saja yang dapat dipesan melalui Layanan Mandiri SBN Ritel Online?
                  </span>
              </div>
              <div id="collapseTwo" class="collapse value" data-parent="#accordion2">
                <div class="card-body">
                    <p>
                        Surat Berharga yang dapat dipesan melalui layanan Mandiri SBN Ritel Online saat ini adalah Saving Bonds Ritel seri SBR-003. Informasi lebih detail terkait produk SBR-003 dapat dilihat pada menu Others sub menu Product Information.
                    </p>
                </div>
              </div>
          </div>
      </div>
      <div id="accordion3">
          <div class="card">
              <div class="card-header title" data-toggle="collapse" data-target="#collapseThree">
                  <span>
                    Apakah yang dimaksud dengan fitur Early Redemption?
                  </span>
              </div>
              <div id="collapseThree" class="collapse value" data-parent="#accordion3">
                <div class="card-body">
                    <p>
                        Fitur early redemption adalah fitur pencairan SBN Ritel Online sebelum jatuh tempo yang dapat diajukan oleh Nasabah selama Masa Pengajuan Pencairan (early redemption) dengan ketentuan nominal pencairan yang ditentukan oleh Kementrian Keuangan (disesuaikan untuk masing-masing produk yang diterbitkan). Masa pengajuan dan ketentuan pencairan SBN Ritel Online akan disampaikan pada Memorandum Informasi produk SBN Ritel Online.
                    </p>
                </div>
              </div>
          </div>
      </div>
      <div id="accordion4">
          <div class="card">
              <div class="card-header title" data-toggle="collapse" data-target="#collapseFour">
                  <span>
                    Bagaimana Cara Melakukan Pemesanan pada Aplikasi Mandiri SBN Ritel Online?
                  </span>
              </div>
              <div id="collapseFour" class="collapse value" data-parent="#accordion4">
                <div class="card-body">
                    <p>
                        Pemesanan SBN Ritel Online dapat dilakukan melalui menu Order sub menu Bond Order. Pada menu Bonds Order anda dapat memilih produk-produk SBN yang tersedia dari Kementerian Keuangan. Karena saat ini hanya tersedia produk SBR-003 maka Anda hanya dapat memilih produk SBR-003. Pada saat melakukan pemesanan Anda akan diminta memverifikasi pemesanan Anda melalui OTP yang dikirimkan melalui email Anda yang teregistrasi pada saat Pendaftaran Layanan Mandiri SBN Ritel Online.
                    </p>
                </div>
            </div>
          </div>
      </div>
      <div id="accordion5">
          <div class="card">
              <div class="card-header title" data-toggle="collapse" data-target="#collapseFive">
                  <span>
                    Bagaimana Cara Melakukan Pembayaran atas Pemesanan pada Aplikasi Mandiri SBN Ritel Online?
                  </span>
              </div>
              <div id="collapseFive" class="collapse value" data-parent="#accordion5">
                <div class="card-body">
                    <p>
                        Pembayaran atas pemesanan pada Aplikasi Mandiri SBN Ritel Online harus dilakukan dalam batas waktu yang ditentukan oleh Kementerian Keuangan (maksimum 3 jam dari waktu pemesanan) dan dapat dilakukan melalui pilihan pembayaran PNBP (Pendapatan Negara Bukan Pajak) di berbagai channel Bank Mandiri sebagai berikut:
                        <br>
                        ATM <br>
                        Terdapat ketentuan maksimum pembayaran melalui channel ATM sesuai dengan jenis kartu nasabah
                        Mekanisme pembayaran melalui ATM adalah sebagai berikut: <br>
                        1. Masukkan Kartu Debit, kemudian pilih Bahasa Indonesia <br>
                        2. Ketik Nomor PIN Kartu Debit kemudian tekan ENTER <br>
                        3. Pilih menu BAYAR/BELI <br>
                        4. Pilih PENERIMAAN NEGARA <br>
                        5. Pilih PAJAK/PNBP/CUKAI <br>
                        6. Masukkan KODE BILLING <br>
                        7. Konfirmasi data ID Billing. <br>
                        8. Pilih YA untuk melanjutkan transaksi bila data sesuai <br>
                        9. Pilih nomor rekening transaksi <br>
                        10. Bukti Penerimaan Negara (BPN) akan tercetak dalam bentuk struk ATM <br>
                        <br>
                        Mandiri Online <br>
                        Ketentuan pembayaran melalui channel Mandiri Online adalah maksimum Rp 100 Juta/transaksi/hari. Mekanisme pembayaran melalui channel Mandiri Online adalah sebagai berikut: <br>
                        1. Masuk ke Aplikasi Mandiri Online <br>
                        2. Masukkan USER ID dan PIN Mandiri Online Anda <br>
                        3. Masuk ke menu PEMBAYARAN <br>
                        4. Pilih menu PENERIMAAN NEGARA <br>
                        5. Pilih rekening tabungan <br>
                        6. Pilih penyedia jasa PAJAK/PNBP/CUKAI <br>
                        7. Masukkan KODE BILLING lalu klik Lanjut <br>
                        8. Konfirmasi data ID Billing. <br>
                        9. Klik Kirim kemudian masukkan PIN Mandiri Online <br>
                        10. Klik DOWNLOAD untuk mengunduh Bukti Penerimaan Negara (BPN) <br>
                        <br>
                        Kantor Cabang <br>
                        Pembayaran dilakukan melalui Teller Kantor Cabang Bank Mandiri dengan membawa buku tabungan, kartu debit dan kode billing pemesanan surat berharga dengan tujuan pembayaran Pajak/PNBP/Cukai menggunakan kode biller 50012.
                    </p>
                </div>
              </div>
          </div>
      </div>
      <div id="accordion6">
          <div class="card">
              <div class="card-header title" data-toggle="collapse" data-target="#collapseSix">
                  <span>
                    Apakah bukti transaksi pemesanan dan pembayaran SBN berhasil?
                  </span>
              </div>
              <div id="collapseSix" class="collapse value" data-parent="#accordion6">
                <div class="card-body">
                    <p>
                        Pemesanan yang telah berhasil dibuat akan tercatat pada menu Akun sub menu Histori Transaksi. Pada menu histori transaksi, apabila pemesanan belum dibayarkan maka status transaksi adalah verified order, apabila transaksi telah berhasil dibayarkan maka status transaksi akan berubah menjadi completed order dan akan muncul kode NTPN (Nomor Transaksi Penerimaan Negara) dan NTB (Nomor Transaksi Bank) pada histori transaksi sebagai bukti pembayaran. Selain itu, Kementerian Keuangan dan Mandiri SBN Ritel Online akan mengirimkan notifikasi email untuk setiap pemesanan yang berhasil dibayarkan.
                    </p>
                </div>
              </div>
          </div>
      </div>
      <div id="accordion7">
          <div class="card">
              <div class="card-header title" data-toggle="collapse" data-target="#collapseSeven">
                  <span>
                    Apakah bukti kepemilikan SBN Ritel Online ?
                  </span>
              </div>
              <div id="collapseSeven" class="collapse value" data-parent="#accordion7">
                <div class="card-body">
                    <p>
                        SBN Ritel Online diterbitkan dalam bentuk tanpa warkat (scriptless), namun kepada para investor akan diberikan Konfirmasi Kepemilikan yang dapat diperoleh melalui aplikasi layanan Mandiri SBN Ritel Online atau Kantor Cabang Bank Mandiri.
                    </p>
                </div>
              </div>
          </div>
      </div>
      <div id="accordion8">
          <div class="card">
              <div class="card-header title" data-toggle="collapse" data-target="#collapseEight">
                  <span>
                    Apakah terdapat panduan untuk menggunakan fitur-fitur di website Mandiri SBN Online?
                  </span>
              </div>
              <div id="collapseEight" class="collapse value" data-parent="#accordion8">
                <div class="card-body">
                    <p>
                        Panduan penggunaan fitur-fitur pada website Mandiri SBN Ritel Online dapat diunduh pada file dibawah ini.
                    </p>
                </div>
              </div>
          </div>
      </div>
      <div id="accordion9">
          <div class="card">
              <div class="card-header title" data-toggle="collapse" data-target="#collapseNine">
                  <span>
                    Siapa yang dapat dihubungi apabila memerlukan penjelasan lebih lanjut perihal layanan Mandiri SBN Ritel Online?
                  </span>
              </div>
              <div id="collapseNine" class="collapse value" data-parent="#accordion9">
                <div class="card-body">
                    <p>
                        Silakan menghubungi tim Customer Care kami melalui nomor telepon Mandiri Call 14000 atau email mandiricare@bankmandiri.co.id. Kami juga menyediakan layanan chat message fitur Hubungi Kami pada Portal Mandiri SBN Ritel Online. Kami akan merespon pesan anda pada Senin – Jumat pukul 08.00 – 16.30 WIB. Pesan yang masuk diluar jam tersebut akan kami respon pada Hari Kerja berikutnya.
                    </p>
                </div>
              </div>
          </div>
      </div>
      <div id="accordion10">
          <div class="card">
              <div class="card-header title" data-toggle="collapse" data-target="#collapseTen">
                  <span>
                    test uat
                  </span>
              </div>
              <div id="collapseTen" class="collapse value" data-parent="#accordion10">
                <div class="card-body">
                    <p>
                        test uat test uat test uat test uat test uat test uat v test uattest uattest uattest uattest uattest uattest uattest uattest uattest uattest uattest uattest uattest uattest uattest uattest uattest uat
                    </p>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>
  