@font-face { 
    font-family:GothamBook;
    src:url(https://sbnonline.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBook.otf);
} 
.container-menu { 
  width:  100%; 
  background: transparent; 
  border-bottom: #ffc800 4px solid; 
  padding: 20px 0; 
  position: fixed; 
  z-index: 999; 
  transition: .5s; 
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: transparent; 
  border-bottom-width: 4px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 200, 0); 
  padding-top: 20px; 
  padding-right: 0px; 
  padding-bottom: 20px; 
  padding-left: 0px; 
  transition-duration: 0.5s; 
  transition-timing-function: ease; 
  transition-delay: 0s; 
  transition-property: all;
} 

.container-menu.with-background { 
  background: #003264; 
  width: 100%; 
  left: 0; 
  border-bottom: #ffc800 4px solid; 
  padding: 5px 0; 
  top: 0; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(0, 50, 100); 
  border-bottom-width: 4px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 200, 0); 
  padding-top: 5px; 
  padding-right: 0px; 
  padding-bottom: 5px; 
  padding-left: 0px;
} 

body { 
  line-height: 1.5; 
  font-family: 'Roboto', sans-serif; 
  max-height: 100%; 
  overflow: hidden; 
  font-size: 16px; 
  overflow-x: hidden; 
  overflow-y: hidden;
  margin: auto;
} 

.aui body { 
  margin: 0; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px; 
  line-height: 20px; 
  color: #333; 
  background-color: white; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.aui body { 
  color: #000; 
  font-family: GothamBook; 
  font-size: 14px; 
  line-height: 20px; 
  margin: 0; 
  margin: 0 auto; 
  min-height: 100vh; 
  text-align: left; 
  margin-top: 0px; 
  margin-right: auto; 
  margin-bottom: 0px; 
  margin-left: auto;
} 

.aui body { 
  overflow: hidden; 
  overflow-x: hidden; 
  overflow-y: hidden;
} 

.aui.login-app body { 
  overflow-y: auto;
} 

.aui { 
  color: #333; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px; 
  line-height: 20px; 
  margin: 0; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav , .aui section { 
  display: block;
} 

:selection { 
  color: #fff; 
  background-color: #98c5e9;
} 

.container { 
  width: 1366px; 
  max-width: 100%;
} 

.container , .container , .container , .container  { 
  width: 940px;
} 

.container  { 
  margin-right: auto; 
  margin-left: auto;
} 

@media (min-width: 1200px){     
  .container , .container , .container , .container  { 
    width: 1170px;
  } 
}     

.container:before , .container:after  { 
  display: table; 
  content: ""; 
  line-height: 0;
} 

.clearfix:before , .clearfix:after , .container:before , .container:after , .container-fluid:before , .container-fluid:after , .row:before , .row:after , .form-group:before , .form-group:after  { 
  display: table; 
  content: " ";
} 

.container:after  { 
  clear: both;
} 

.clearfix:after , dd:after , .container:after , .container-fluid:after , .row:after  { 
  clear: both;
} 

.no-padding { 
  padding: 0 !important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

.no-padding { 
  padding: 0!important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

ul , .aui ol { 
  padding: 0; 
  margin: 0 0 10px 25px; 
  padding-top: 0px; 
  padding-right: 0px; 
  padding-bottom: 0px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 10px; 
  margin-left: 25px;
} 

ul  { 
  padding: 17px 0; 
  margin: 0; 
  padding-top: 17px; 
  padding-right: 0px; 
  padding-bottom: 17px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.pull-left  { 
  float: left;
} 

.pull-right  { 
  float: right;
} 

ul.menu-right  { 
font-size: 1.2rem;
} 

.hamburger { 
  font: inherit; 
  display: inline-block; 
  overflow: visible; 
  margin: 0; 
  padding: 15px; 
  cursor: pointer; 
  transition-timing-function: linear; 
  transition-duration: .15s; 
  transition-property: opacity,filter; 
  text-transform: none; 
  color: inherit; 
  border: 0; 
  background-color: transparent; 
  font-style: inherit; 
  font-variant-ligatures: inherit; 
  font-variant-caps: inherit; 
  font-variant-numeric: inherit; 
  font-variant-east-asian: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; 
  font-size: inherit; 
  line-height: inherit; 
  font-family: inherit; 
  overflow-x: visible; 
  overflow-y: visible; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  padding-top: 15px; 
  padding-right: 15px; 
  padding-bottom: 15px; 
  padding-left: 15px; 
  border-top-width: 0px; 
  border-right-width: 0px; 
  border-bottom-width: 0px; 
  border-left-width: 0px; 
  border-top-style: initial; 
  border-right-style: initial; 
  border-bottom-style: initial; 
  border-left-style: initial; 
  border-top-color: initial; 
  border-right-color: initial; 
  border-bottom-color: initial; 
  border-left-color: initial; 
  border-image-source: initial; 
  border-image-slice: initial; 
  border-image-width: initial; 
  border-image-outset: initial; 
  border-image-repeat: initial;
} 

.hamburger { 
  display: none; 
  float: right; 
  outline: 0; 
  outline-color: initial; 
  outline-style: initial; 
  outline-width: 0px;
} 

button , .aui input, .aui select, .aui textarea { 
  margin: 0; 
  font-size: 100%; 
  vertical-align: middle; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

button , .aui input { 
  line-height: normal;
} 

button , input[type="button"] , input[type="reset"] , input[type="submit"]  { 
  -webkit-appearance: button; 
  cursor: pointer; 
  appearance: button;
} 

.aui label, .aui select, button , input[type="button"] , input[type="reset"] , input[type="submit"] , input[type="radio"] , input[type="checkbox"]  { 
  cursor: pointer;
} 

.aui label, .aui input, button , .aui select, .aui textarea { 
  font-size: 14px; 
  font-weight: normal; 
  line-height: 20px;
} 

.aui input, button , .aui select, .aui textarea { 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} 

button  { 
  -webkit-tap-highlight-color: transparent;
} 

ul.mobile-menu  { 
  position: fixed; 
  background: #003264; 
  top: 72px; 
  height: 100%; 
  width: 100%; 
  transition: .5s; 
  -webkit-transition: .5s; 
  -moz-transition: .5s; 
  -o-transition: .5s; 
  left: -100%; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(0, 50, 100); 
  transition-duration: 0.5s; 
  transition-timing-function: ease; 
  transition-delay: 0s; 
  transition-property: all;
} 

li  { 
  line-height: 20px;
} 

li  { 
  position: relative;
} 

ul li  { 
  display: inline-block; 
  list-style: none; 
  margin: 0 10px; 
  text-transform: none; 
  font-size: 1.2rem; 
  list-style-position: initial; 
  list-style-image: initial; 
  list-style-type: none; 
  margin-top: 0px; 
  margin-right: 10px; 
  margin-bottom: 0px; 
  margin-left: 10px;
} 

ul li:first-child  { 
  margin-left: 0;
} 

ul li.site-title  { 
  width: auto; 
  text-align: right; 
  border-right: 1px solid #FFF; 
  padding-right: 2rem; 
  position: relative; 
  top: .8rem; 
  color: #FFF; 
  height: 24px; 
  padding-top: .2rem; 
  display: none; 
  border-right-width: 1px; 
  border-right-style: solid; 
  border-right-color: rgb(255, 255, 255);
} 

ul li:after  { 
  content: url(https://sbnonline.bankmandiri.co.id/login-theme/images/icon-menu.png); 
  margin-left: 30px;
} 

ul li.site-title:after  { 
  content: ''; 
  margin: 0; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

ul li:last-child  { 
  margin-right: 0;
} 

ul li:last-child:after  { 
  content: ''; 
  position: absolute;
} 

.hamburger-box { 
  position: relative; 
  display: inline-block; 
  width: 40px; 
  height: 24px;
} 

ul.mobile-menu li  { 
  display: block; 
  margin: 18px 20px; 
  border-bottom: 2px solid #FFF; 
  padding-bottom: 1rem; 
  margin-top: 18px; 
  margin-right: 20px; 
  margin-bottom: 18px; 
  margin-left: 20px; 
  border-bottom-width: 2px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 255, 255);
} 

ul.mobile-menu li:after  { 
  content: '';
} 

.logo { 
  display: inline-block; 
  line-height: 1; 
  vertical-align: middle;
} 

a  { 
  color: #0af; 
  text-decoration: none; 
  text-decoration-line: none; 
  text-decoration-thickness: initial; 
  text-decoration-style: initial; 
  text-decoration-color: initial;
} 

a  { 
  color: #000;
} 

a  { 
  color: #FFF;
} 

.default-logo  { 
  position: relative; 
  top: .5rem; 
  margin-right: 1rem;
} 

.hamburger-inner { 
  top: 50%; 
  display: block; 
  margin-top: -2px;
} 

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before { 
  position: absolute; 
  width: 40px; 
  height: 4px; 
  transition-timing-function: ease; 
  transition-duration: .15s; 
  transition-property: transform; 
  border-radius: 4px; 
  background-color: #000; 
  border-top-left-radius: 4px; 
  border-top-right-radius: 4px; 
  border-bottom-right-radius: 4px; 
  border-bottom-left-radius: 4px;
} 

.hamburger--slider .hamburger-inner  { 
  top: 2px;
} 

.hamburger .hamburger-inner , .hamburger .hamburger-inner:after , .hamburger .hamburger-inner:before  { 
  background: #FFF; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(255, 255, 255);
} 

.hamburger-inner:after, .hamburger-inner:before { 
  display: block; 
  content: "";
} 

.hamburger-inner:before { 
  top: -10px;
} 

.hamburger--slider .hamburger-inner:before  { 
  top: 10px; 
  transition-timing-function: ease; 
  transition-duration: .15s; 
  transition-property: transform,opacity;
} 

.hamburger-inner:after { 
  bottom: -10px;
} 

.hamburger--slider .hamburger-inner:after  { 
  top: 20px;
} 

img  { 
  max-width: 100%;
} 

img  { 
  max-width: 100%; 
  width: auto\9; 
  height: auto; 
  vertical-align: middle; 
  border: 0; 
  -ms-interpolation-mode: bicubic; 
  border-top-width: 0px; 
  border-right-width: 0px; 
  border-bottom-width: 0px; 
  border-left-width: 0px; 
  border-top-style: initial; 
  border-right-style: initial; 
  border-bottom-style: initial; 
  border-left-style: initial; 
  border-top-color: initial; 
  border-right-color: initial; 
  border-bottom-color: initial; 
  border-left-color: initial; 
  border-image-source: initial; 
  border-image-slice: initial; 
  border-image-width: initial; 
  border-image-outset: initial; 
  border-image-repeat: initial;
} 

ul li img  { 
  width: 18px; 
  margin-right: 12px; 
  position: relative; 
  top: -1px;
} 

.default-logo img  { 
  width: 120px;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, nav , .aui section { 
  display: block;
} 

nav ul  { 
  padding: 17px 0; 
  margin: 0; 
  padding-top: 17px; 
  padding-right: 0px; 
  padding-bottom: 17px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

nav ul.mobile-menu  { 
  position: fixed; 
  background: #003264; 
  top: 72px; 
  height: 100%; 
  width: 100%; 
  transition: .5s; 
  -webkit-transition: .5s; 
  -moz-transition: .5s; 
  -o-transition: .5s; 
  left: -100%; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(0, 50, 100); 
  transition-duration: 0.5s; 
  transition-timing-function: ease; 
  transition-delay: 0s; 
  transition-property: all;
} 

.modify-pages li  { 
  position: relative;
} 

nav ul li  { 
  display: inline-block; 
  list-style: none; 
  margin: 0 10px; 
  text-transform: none; 
  font-size: 1.2rem; 
  list-style-position: initial; 
  list-style-image: initial; 
  list-style-type: none; 
  margin-top: 0px; 
  margin-right: 10px; 
  margin-bottom: 0px; 
  margin-left: 10px;
} 

nav ul li:first-child  { 
  margin-left: 0;
} 

nav ul li.site-title  { 
  width: auto; 
  text-align: right; 
  border-right: 1px solid #FFF; 
  padding-right: 2rem; 
  position: relative; 
  top: .8rem; 
  color: #FFF; 
  height: 24px; 
  padding-top: .2rem; 
  display: none; 
  border-right-width: 1px; 
  border-right-style: solid; 
  border-right-color: rgb(255, 255, 255);
} 

nav ul li:after  { 
  content: url(https://sbnonline.bankmandiri.co.id/login-theme/images/icon-menu.png); 
  margin-left: 30px;
} 

nav ul li.site-title:after  { 
  content: ''; 
  margin: 0; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

nav ul li:last-child  { 
  margin-right: 0;
} 

nav ul li:last-child:after  { 
  content: ''; 
  position: absolute;
} 

nav ul.mobile-menu li  { 
  display: block; 
  margin: 18px 20px; 
  border-bottom: 2px solid #FFF; 
  padding-bottom: 1rem; 
  margin-top: 18px; 
  margin-right: 20px; 
  margin-bottom: 18px; 
  margin-left: 20px; 
  border-bottom-width: 2px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 255, 255);
} 

nav ul.mobile-menu li:after  { 
  content: '';
} 

nav ul li img  { 
  width: 18px; 
  margin-right: 12px; 
  position: relative; 
  top: -1px;
} 

.owl-carousel, .owl-carousel .owl-item { 
  -webkit-tap-highlight-color: transparent; 
  position: relative;
} 

.owl-carousel .owl-item, .owl-carousel .owl-wrapper { 
  -webkit-backface-visibility: hidden; 
  -moz-backface-visibility: hidden; 
  -ms-backface-visibility: hidden; 
  -webkit-transform: translate3d(0, 0, 0); 
  -moz-transform: translate3d(0, 0, 0); 
  -ms-transform: translate3d(0, 0, 0); 
  backface-visibility: hidden; 
  transform: translate3d(0px, 0px, 0px);
} 

.owl-carousel .owl-item { 
  min-height: 1px; 
  float: left; 
  -webkit-backface-visibility: hidden; 
  -webkit-touch-callout: none; 
  backface-visibility: hidden;
} 

.owl-carousel.owl-drag .owl-item { 
  -ms-touch-action: pan-y; 
  touch-action: pan-y; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
} 

.owl-carousel .owl-stage { 
  position: relative; 
  -ms-touch-action: pan-Y; 
  touch-action: manipulation; 
  -moz-backface-visibility: hidden;
} 

.owl-carousel .owl-stage-outer { 
  position: relative; 
  overflow: hidden; 
  -webkit-transform: translate3d(0, 0, 0); 
  overflow-x: hidden; 
  overflow-y: hidden; 
  transform: translate3d(0px, 0px, 0px);
} 

.owl-carousel { 
  display: none; 
  width: 100%; 
  z-index: 1;
} 

.no-js .owl-carousel, .owl-carousel.owl-loaded { 
  display: block;
} 

.portlet-journal-content .journal-content-article { 
  clear: right;
} 

.portlet-content, .portlet-minimized .portlet-content-container { 
  padding: 0 !important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

.portlet-content, .portlet-minimized .portlet-content-container { 
  padding: 12px 10px 10px; 
  padding-top: 12px; 
  padding-right: 10px; 
  padding-bottom: 10px; 
  padding-left: 10px;
} 

.wrapper-login .portlet-content { 
  padding: 0; 
  padding-top: 0px; 
  padding-right: 0px; 
  padding-bottom: 0px; 
  padding-left: 0px;
} 

.portlet { 
  background: transparent !important; 
  margin-bottom: 0 !important; 
  background-image: initial !important; 
  background-position-x: initial !important; 
  background-position-y: initial !important; 
  background-size: initial !important; 
  background-repeat-x: initial !important; 
  background-repeat-y: initial !important; 
  background-attachment: initial !important; 
  background-origin: initial !important; 
  background-clip: initial !important; 
  background-color: transparent !important;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav, .aui section { 
  display: block;
} 

[class*="span"]  { 
  float: left; 
  min-height: 1px; 
  margin-left: 20px;
} 

.aui .span12 { 
  width: 940px;
} 

@media (min-width: 1200px){     
  [class*="span"]  { 
    float: left; 
    min-height: 1px; 
    margin-left: 30px;
  } 
}     

@media (min-width: 1200px){     
  .aui .span12 { 
    width: 1170px;
  } 
}     

[class*="span"]  { 
  display: block; 
  width: 100%; 
  min-height: 30px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  float: left; 
  margin-left: 2.12766%;
} 

.aui .row-fluid .span12 { 
  width: 100%;
} 

@media (min-width: 1200px){     
  [class*="span"]  { 
    display: block; 
    width: 100%; 
    min-height: 30px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    float: left; 
    margin-left: 2.5641%;
  } 
}     

@media (min-width: 1200px){     
  .aui .row-fluid .span12 { 
    width: 100%;
  } 
}     

[class*="span"]  { 
  box-sizing: border-box; 
  display: block; 
  float: right; 
  margin-left: 0; 
  min-height: 30px; 
  margin-top: 10%;
} 

[class*="span"]  { 
  margin-top: 0; 
  float: left;
} 

[class*="span"]:first-child  { 
  margin-left: 0;
} 

@media (min-width: 1200px){     
  [class*="span"]:first-child  { 
    margin-left: 0;
  } 
}     

.aui .row-fluid { 
  width: 100%;
} 

@media (min-width: 1200px){     
  .aui .row-fluid { 
    width: 100%;
  } 
}     

#content { 
  text-align: center;
} 

#content { 
  text-align: left;
} 

#content { 
  margin-top: 4.8rem;
} 

.home-carousel .list-carousel  { 
  height: 100vh; 
  width: 100%; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-repeat-x: no-repeat; 
  background-repeat-y: no-repeat;
} 

@font-face { 
  font-family:GothamBook;
  src:url(https://sbnonline.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBook.otf);
} 
@font-face { 
  font-family:GothamBold;
  src:url(https://sbnonline.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBold.otf);
} 
.container-menu { 
  width: 100%; 
  background: transparent; 
  border-bottom: #ffc800 4px solid; 
  padding: 20px 0; 
  position: fixed; 
  z-index: 999; 
  transition: .5s; 
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: transparent; 
  border-bottom-width: 4px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 200, 0); 
  padding-top: 20px; 
  padding-right: 0px; 
  padding-bottom: 20px; 
  padding-left: 0px; 
  transition-duration: 0.5s; 
  transition-timing-function: ease; 
  transition-delay: 0s; 
  transition-property: all;
} 

.container-menu.with-background { 
  background: #003264; 
  width: 100%; 
  left: 0; 
  border-bottom: #ffc800 4px solid; 
  padding: 5px 0; 
  top: 0; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(0, 50, 100); 
  border-bottom-width: 4px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 200, 0); 
  padding-top: 5px; 
  padding-right: 0px; 
  padding-bottom: 5px; 
  padding-left: 0px;
} 

body { 
  line-height: 1.5; 
  font-family: 'Roboto', sans-serif; 
  max-height: 100%; 
  overflow: hidden; 
  font-size: 16px; 
  overflow-x: hidden; 
  overflow-y: hidden;
} 

.aui body { 
  margin: 0; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px; 
  line-height: 20px; 
  color: #333; 
  background-color: white; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.aui body { 
  color: #000; 
  font-family: GothamBook; 
  font-size: 14px; 
  line-height: 20px; 
  margin: 0; 
  margin: 0 auto; 
  min-height: 100vh; 
  text-align: left; 
  margin-top: 0px; 
  margin-right: auto; 
  margin-bottom: 0px; 
  margin-left: auto;
} 

.aui body { 
  overflow: hidden; 
  overflow-x: hidden; 
  overflow-y: hidden;
} 

.aui.login-app body { 
  overflow-y: auto;
} 

.aui { 
  color: #333; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px; 
  line-height: 20px; 
  margin: 0; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav , .aui section { 
  display: block;
} 

:selection { 
  color: #fff; 
  background-color: #98c5e9;
} 

.container { 
  width: 1366px; 
  max-width: 100%;
} 

.container , .container , .container , .container  { 
  width: 940px;
} 

.container  { 
  margin-right: auto; 
  margin-left: auto;
} 

@media (min-width: 1200px){     
  .container , .container , .container , .container  { 
    width: 1170px;
} 
}     

.container:before , .container:after  { 
  display: table; 
  content: ""; 
  line-height: 0;
} 

.clearfix:before , .clearfix:after , .container:before , .container:after , .container-fluid:before , .container-fluid:after , .row:before , .row:after , .form-group:before , .form-group:after  { 
  display: table; 
  content: " ";
} 

.container:after  { 
  clear: both;
} 

.clearfix:after , dd:after , .container:after , .container-fluid:after , .row:after  { 
  clear: both;
} 

.no-padding { 
  padding: 0 !important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

.no-padding { 
  padding: 0!important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

ul , .aui ol { 
  padding: 0; 
  margin: 0 0 10px 25px; 
  padding-top: 0px; 
  padding-right: 0px; 
  padding-bottom: 0px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 10px; 
  margin-left: 25px;
} 

ul  { 
  padding: 17px 0; 
  margin: 0; 
  padding-top: 17px; 
  padding-right: 0px; 
  padding-bottom: 17px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.pull-left  { 
  float: left;
} 

.pull-right  { 
  float: right;
} 

ul.menu-right  { 
  font-size: 1.2rem;
} 

.hamburger { 
  font: inherit; 
  display: inline-block; 
  overflow: visible; 
  margin: 0; 
  padding: 15px; 
  cursor: pointer; 
  transition-timing-function: linear; 
  transition-duration: .15s; 
  transition-property: opacity,filter; 
  text-transform: none; 
  color: inherit; 
  border: 0; 
  background-color: transparent; 
  font-style: inherit; 
  font-variant-ligatures: inherit; 
  font-variant-caps: inherit; 
  font-variant-numeric: inherit; 
  font-variant-east-asian: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; 
  font-size: inherit; 
  line-height: inherit; 
  font-family: inherit; 
  overflow-x: visible; 
  overflow-y: visible; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  padding-top: 15px; 
  padding-right: 15px; 
  padding-bottom: 15px; 
  padding-left: 15px; 
  border-top-width: 0px; 
  border-right-width: 0px; 
  border-bottom-width: 0px; 
  border-left-width: 0px; 
  border-top-style: initial; 
  border-right-style: initial; 
  border-bottom-style: initial; 
  border-left-style: initial; 
  border-top-color: initial; 
  border-right-color: initial; 
  border-bottom-color: initial; 
  border-left-color: initial; 
  border-image-source: initial; 
  border-image-slice: initial; 
  border-image-width: initial; 
  border-image-outset: initial; 
  border-image-repeat: initial;
} 

.hamburger { 
  display: none; 
  float: right; 
  outline: 0; 
  outline-color: initial; 
  outline-style: initial; 
  outline-width: 0px;
} 

button , .aui input, .aui select, .aui textarea { 
  margin: 0; 
  font-size: 100%; 
  vertical-align: middle; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

button , .aui input { 
  line-height: normal;
} 

button , input[type="button"] , input[type="reset"] , input[type="submit"]  { 
  -webkit-appearance: button; 
  cursor: pointer; 
  appearance: button;
} 

.aui label, .aui select, button , input[type="button"] , input[type="reset"] , input[type="submit"] , input[type="radio"] , input[type="checkbox"]  { 
  cursor: pointer;
} 

.aui label, .aui input, button , .aui select, .aui textarea { 
  font-size: 14px; 
  font-weight: normal; 
  line-height: 20px;
} 

.aui input, button , .aui select, .aui textarea { 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} 

button  { 
  -webkit-tap-highlight-color: transparent;
} 

ul.mobile-menu  { 
  position: fixed; 
  background: #003264; 
  top: 72px; 
  height: 100%; 
  width: 100%; 
  transition: .5s; 
  -webkit-transition: .5s; 
  -moz-transition: .5s; 
  -o-transition: .5s; 
  left: -100%; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(0, 50, 100); 
  transition-duration: 0.5s; 
  transition-timing-function: ease; 
  transition-delay: 0s; 
  transition-property: all;
} 

li  { 
  line-height: 20px;
} 

li  { 
  position: relative;
} 

ul li  { 
  display: inline-block; 
  list-style: none; 
  margin: 0 10px; 
  text-transform: none; 
  font-size: 1.2rem; 
  list-style-position: initial; 
  list-style-image: initial; 
  list-style-type: none; 
  margin-top: 0px; 
  margin-right: 10px; 
  margin-bottom: 0px; 
  margin-left: 10px;
} 

ul li:first-child  { 
  margin-left: 0;
} 

ul li.site-title  { 
  width: auto; 
  text-align: right; 
  border-right: 1px solid #FFF; 
  padding-right: 2rem; 
  position: relative; 
  top: .8rem; 
  color: #FFF; 
  height: 24px; 
  padding-top: .2rem; 
  display: none; 
  border-right-width: 1px; 
  border-right-style: solid; 
  border-right-color: rgb(255, 255, 255);
} 

ul li:after  { 
  content: url(https://sbnonline.bankmandiri.co.id/login-theme/images/icon-menu.png); 
  margin-left: 30px;
} 

ul li.site-title:after  { 
  content: ''; 
  margin: 0; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

ul li:last-child  { 
  margin-right: 0;
} 

ul li:last-child:after  { 
  content: ''; 
  position: absolute;
} 

.hamburger-box { 
  position: relative; 
  display: inline-block; 
  width: 40px; 
  height: 24px;
} 

ul.mobile-menu li  { 
  display: block; 
  margin: 18px 20px; 
  border-bottom: 2px solid #FFF; 
  padding-bottom: 1rem; 
  margin-top: 18px; 
  margin-right: 20px; 
  margin-bottom: 18px; 
  margin-left: 20px; 
  border-bottom-width: 2px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 255, 255);
} 

ul.mobile-menu li:after  { 
  content: '';
} 

.logo { 
  display: inline-block; 
  line-height: 1; 
  vertical-align: middle;
} 

a  { 
  color: #0af; 
  text-decoration: none; 
  text-decoration-line: none; 
  text-decoration-thickness: initial; 
  text-decoration-style: initial; 
  text-decoration-color: initial;
} 

a  { 
  color: #000;
} 

a  { 
  color: #FFF;
} 

.default-logo  { 
  position: relative; 
  top: .5rem; 
  margin-right: 1rem;
} 

.hamburger-inner { 
  top: 50%; 
  display: block; 
  margin-top: -2px;
} 

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before { 
  position: absolute; 
  width: 40px; 
  height: 4px; 
  transition-timing-function: ease; 
  transition-duration: .15s; 
  transition-property: transform; 
  border-radius: 4px; 
  background-color: #000; 
  border-top-left-radius: 4px; 
  border-top-right-radius: 4px; 
  border-bottom-right-radius: 4px; 
  border-bottom-left-radius: 4px;
} 

.hamburger--slider .hamburger-inner  { 
  top: 2px;
} 

.hamburger .hamburger-inner , .hamburger .hamburger-inner:after , .hamburger .hamburger-inner:before  { 
  background: #FFF; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(255, 255, 255);
} 

.hamburger-inner:after, .hamburger-inner:before { 
  display: block; 
  content: "";
} 

.hamburger-inner:before { 
  top: -10px;
} 

.hamburger--slider .hamburger-inner:before  { 
  top: 10px; 
  transition-timing-function: ease; 
  transition-duration: .15s; 
  transition-property: transform,opacity;
} 

.hamburger-inner:after { 
  bottom: -10px;
} 

.hamburger--slider .hamburger-inner:after  { 
  top: 20px;
} 

img  { 
  max-width: 100%;
} 

img  { 
  max-width: 100%; 
  width: auto\9; 
  height: auto; 
  vertical-align: middle; 
  border: 0; 
  -ms-interpolation-mode: bicubic; 
  border-top-width: 0px; 
  border-right-width: 0px; 
  border-bottom-width: 0px; 
  border-left-width: 0px; 
  border-top-style: initial; 
  border-right-style: initial; 
  border-bottom-style: initial; 
  border-left-style: initial; 
  border-top-color: initial; 
  border-right-color: initial; 
  border-bottom-color: initial; 
  border-left-color: initial; 
  border-image-source: initial; 
  border-image-slice: initial; 
  border-image-width: initial; 
  border-image-outset: initial; 
  border-image-repeat: initial;
} 

ul li img  { 
  width: 18px; 
  margin-right: 12px; 
  position: relative; 
  top: -1px;
} 

.default-logo img  { 
  width: 120px;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, nav , .aui section { 
  display: block;
} 

nav ul  { 
  padding: 17px 0; 
  margin: 0; 
  padding-top: 17px; 
  padding-right: 0px; 
  padding-bottom: 17px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

nav ul.mobile-menu  { 
  position: fixed; 
  background: #003264; 
  top: 72px; 
  height: 100%; 
  width: 100%; 
  transition: .5s; 
  -webkit-transition: .5s; 
  -moz-transition: .5s; 
  -o-transition: .5s; 
  left: -100%; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(0, 50, 100); 
  transition-duration: 0.5s; 
  transition-timing-function: ease; 
  transition-delay: 0s; 
  transition-property: all;
} 

.modify-pages li  { 
  position: relative;
} 

nav ul li  { 
  display: inline-block; 
  list-style: none; 
  margin: 0 10px; 
  text-transform: none; 
  font-size: 1.2rem; 
  list-style-position: initial; 
  list-style-image: initial; 
  list-style-type: none; 
  margin-top: 0px; 
  margin-right: 10px; 
  margin-bottom: 0px; 
  margin-left: 10px;
} 

nav ul li:first-child  { 
  margin-left: 0;
} 

nav ul li.site-title  { 
  width: auto; 
  text-align: right; 
  border-right: 1px solid #FFF; 
  padding-right: 2rem; 
  position: relative; 
  top: .8rem; 
  color: #FFF; 
  height: 24px; 
  padding-top: .2rem; 
  display: none; 
  border-right-width: 1px; 
  border-right-style: solid; 
  border-right-color: rgb(255, 255, 255);
} 

nav ul li:after  { 
  content: url(https://sbnonline.bankmandiri.co.id/login-theme/images/icon-menu.png); 
  margin-left: 30px;
} 

nav ul li.site-title:after  { 
  content: ''; 
  margin: 0; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

nav ul li:last-child  { 
margin-right: 0;
} 

nav ul li:last-child:after  { 
  content: ''; 
  position: absolute;
} 

nav ul.mobile-menu li  { 
  display: block; 
  margin: 18px 20px; 
  border-bottom: 2px solid #FFF; 
  padding-bottom: 1rem; 
  margin-top: 18px; 
  margin-right: 20px; 
  margin-bottom: 18px; 
  margin-left: 20px; 
  border-bottom-width: 2px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 255, 255);
} 

nav ul.mobile-menu li:after  { 
  content: '';
} 

nav ul li img  { 
  width: 18px; 
  margin-right: 12px; 
  position: relative; 
  top: -1px;
} 

.owl-carousel, .owl-carousel .owl-item { 
  -webkit-tap-highlight-color: transparent; 
  position: relative;
} 

.owl-carousel .owl-item, .owl-carousel .owl-wrapper { 
  -webkit-backface-visibility: hidden; 
  -moz-backface-visibility: hidden; 
  -ms-backface-visibility: hidden; 
  -webkit-transform: translate3d(0, 0, 0); 
  -moz-transform: translate3d(0, 0, 0); 
  -ms-transform: translate3d(0, 0, 0); 
  backface-visibility: hidden; 
  transform: translate3d(0px, 0px, 0px);
} 

.owl-carousel .owl-item { 
  min-height: 1px; 
  float: left; 
  -webkit-backface-visibility: hidden; 
  -webkit-touch-callout: none; 
  backface-visibility: hidden;
} 

.owl-carousel.owl-drag .owl-item { 
  -ms-touch-action: pan-y; 
  touch-action: pan-y; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
} 

.owl-carousel .owl-stage { 
  position: relative; 
  -ms-touch-action: pan-Y; 
  touch-action: manipulation; 
  -moz-backface-visibility: hidden;
} 

.owl-carousel .owl-stage-outer { 
  position: relative; 
  overflow: hidden; 
  -webkit-transform: translate3d(0, 0, 0); 
  overflow-x: hidden; 
  overflow-y: hidden; 
  transform: translate3d(0px, 0px, 0px);
} 

.owl-carousel { 
  display: none; 
  width: 100%; 
  z-index: 1;
} 

.no-js .owl-carousel, .owl-carousel.owl-loaded { 
  display: block;
} 

.portlet-journal-content .journal-content-article { 
  clear: right;
} 

.portlet-content, .portlet-minimized .portlet-content-container { 
  padding: 0 !important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

.portlet-content, .portlet-minimized .portlet-content-container { 
  padding: 12px 10px 10px; 
  padding-top: 12px; 
  padding-right: 10px; 
  padding-bottom: 10px; 
  padding-left: 10px;
} 

.wrapper-login .portlet-content { 
  padding: 0; 
  padding-top: 0px; 
  padding-right: 0px; 
  padding-bottom: 0px; 
  padding-left: 0px;
} 

.portlet { 
  background: transparent !important; 
  margin-bottom: 0 !important; 
  background-image: initial !important; 
  background-position-x: initial !important; 
  background-position-y: initial !important; 
  background-size: initial !important; 
  background-repeat-x: initial !important; 
  background-repeat-y: initial !important; 
  background-attachment: initial !important; 
  background-origin: initial !important; 
  background-clip: initial !important; 
  background-color: transparent !important;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav, .aui section { 
  display: block;
} 

[class*="span"]  { 
  float: left; 
  min-height: 1px; 
  margin-left: 20px;
} 

.aui .span12 { 
  width: 940px;
} 

@media (min-width: 1200px){     
  [class*="span"]  { 
    float: left; 
    min-height: 1px; 
    margin-left: 30px;
  } 
}     

@media (min-width: 1200px){     
  .aui .span12 { 
    width: 1170px;
  } 
}     

[class*="span"]  { 
  display: block; 
  width: 100%; 
  min-height: 30px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  float: left; 
  margin-left: 2.12766%;
} 

.aui .row-fluid .span12 { 
  width: 100%;
} 

@media (min-width: 1200px){     
  [class*="span"]  { 
    display: block; 
    width: 100%; 
    min-height: 30px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    float: left; 
    margin-left: 2.5641%;
  } 
}     

@media (min-width: 1200px){     
  .aui .row-fluid .span12 { 
    width: 100%;
  } 
}     

[class*="span"]  { 
  box-sizing: border-box; 
  display: block; 
  float: right; 
  margin-left: 0; 
  min-height: 30px; 
  margin-top: 10%;
} 

[class*="span"]  { 
  margin-top: 0; 
  float: left;
} 

[class*="span"]:first-child  { 
  margin-left: 0;
} 

@media (min-width: 1200px){     
  [class*="span"]:first-child  { 
    margin-left: 0;
  } 
}     

.aui .row-fluid { 
  width: 100%;
} 

@media (min-width: 1200px){     
  .aui .row-fluid { 
    width: 100%;
  } 
}     

#content { 
  text-align: center;
} 

#content { 
  text-align: left;
} 

#content { 
  margin-top: 4.8rem;
} 

.home-carousel .list-carousel  { 
  height: 100vh; 
  width: 100%; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-repeat-x: no-repeat; 
  background-repeat-y: no-repeat;
} 

.section-info-login { 
  padding: 6rem 0; 
  color: #555; 
  text-align: left; 
  outline: 0; 
  padding-top: 6rem; 
  padding-right: 0px; 
  padding-bottom: 6rem; 
  padding-left: 0px; 
  outline-color: initial; 
  outline-style: initial; 
  outline-width: 0px;
} 

.animated { 
  -webkit-animation-duration: 1s; 
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both;
} 

.fadeInUp { 
  -webkit-animation-name: fadeInUp; 
  animation-name: fadeInUp;
} 

.vp-fadein, .vp-fadeinup, .vp-fadeinright, .vp-fadeindown, .vp-fadeinleft, .vp-slideinup, .vp-slideinright, .vp-slideindown, .vp-slideinleft, .vp-rotatein, .vp-rorateinupright, .vp-rotateinupleft, .vp-rotateindownright, .vp-rotateindownleft, .vp-zoomin, .vp-zoominup, .vp-zoominright, .vp-zoomindown, .vp-zoominleft, .vp-jackinthebox, .vp-rollin, .vp-rollout { 
  opacity: 0;
} 

.animated { 
  opacity: 0;
} 

.visible { 
  opacity: 1;
} 

.aui h1, h2 , .aui h3, .aui h4, .aui h5, .aui h6 { 
  margin: 10px 0; 
  font-family: inherit; 
  font-weight: bold; 
  line-height: 20px; 
  color: inherit; 
  text-rendering: optimizelegibility; 
  margin-top: 10px; 
  margin-right: 0px; 
  margin-bottom: 10px; 
  margin-left: 0px;
} 

.aui h1, h2 , .aui h3 { 
  line-height: 40px;
} 

h2  { 
  font-size: 31.5px;
} 

.aui h1, h2 , .aui h3 { 
  line-height: 20px;
} 

.content-info .title-info  { 
  line-height: 33px; 
  font-size: 1.8rem; 
  text-align: center; 
  margin-bottom: 4rem; 
  font-weight: normal;
} 

.row  { 
  margin-left: -20px;
} 

@media (min-width: 1200px){     
  .row  { 
    margin-left: -30px;
  } 
}     

.row  { 
  margin-left: 0;
} 

.row:before , .row:after  { 
  display: table; 
  content: ""; 
  line-height: 0;
} 

@media (min-width: 1200px){     
  .row:before , .row:after  { 
    display: table; 
    content: ""; 
    line-height: 0;
  } 
}     

.row:after  { 
  clear: both;
} 

@media (min-width: 1200px){     
  .row:after  { 
    clear: both;
  } 
}     

.delayp1 { 
  animation-delay: .1s; 
  -moz-animation-delay: .1s; 
  -webkit-animation-delay: .1s; 
  -o-animation-delay: .1s; 
  -webkit-transition-delay: .1s; 
  transition-delay: .1s;
} 

.span4  { 
  width: 300px;
} 

@media (min-width: 1200px){     
  .span4  { 
    width: 370px;
  } 
}     

.span4  { 
  width: 31.91489%;
} 

@media (min-width: 1200px){     
  .span4  { 
    width: 31.62393%;
  } 
}     

.row .span4  { 
  width: 30.33333%;
} 

.delayp2 { 
  animation-delay: .2s; 
  -moz-animation-delay: .2s; 
  -webkit-animation-delay: .2s; 
  -o-animation-delay: .2s; 
  -webkit-transition-delay: .2s; 
  transition-delay: .2s;
} 

.delayp3 { 
  animation-delay: .3s; 
  -moz-animation-delay: .3s; 
  -webkit-animation-delay: .3s; 
  -o-animation-delay: .3s; 
  -webkit-transition-delay: .3s; 
  transition-delay: .3s;
} 

.content-info .list-info  { 
  margin-bottom: 1rem; 
  margin-left: 5rem; 
  padding-left: 1.5rem; 
  border-left: 4px solid #67b2e8; 
  min-height: 150px; 
  border-left-width: 4px; 
  border-left-style: solid; 
  border-left-color: rgb(103, 178, 232);
} 

p  { 
  margin: 0 0 10px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 10px; 
  margin-left: 0px;
} 

.content-info .list-info .number  { 
  position: absolute; 
  font-size: 1.5rem; 
  font-family: 'GothamBold'; 
  margin-left: -65px;
} 

.content-info .list-info .subtitle  { 
  font-size: 1.2rem; 
  font-family: 'GothamBold';
} 

.content-info .list-info .desc  { 
  opacity: .8;
} 


/* SECTION 4 */
@font-face { 
  font-family:GothamLight;
  src:url(https://sbnonline.bankmandiri.co.id/login-theme/fonts/Gotham/GothamLight.otf);
} 
@font-face { 
  font-family:GothamBook;
  src:url(https://sbnonline.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBook.otf);
} 
@font-face { 
  font-family:GothamBold;
  src:url(https://sbnonline.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBold.otf);
} 
.container-menu { 
  width: 100%; 
  background: transparent; 
  border-bottom: #ffc800 4px solid; 
  padding: 20px 0; 
  position: fixed; 
  z-index: 999; 
  transition: .5s; 
  -webkit-transition: .5s; 
  -o-transition: .5s; 
  -moz-transition: .5s; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: transparent; 
  border-bottom-width: 4px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 200, 0); 
  padding-top: 20px; 
  padding-right: 0px; 
  padding-bottom: 20px; 
  padding-left: 0px; 
  transition-duration: 0.5s; 
  transition-timing-function: ease; 
  transition-delay: 0s; 
  transition-property: all;
} 

.container-menu.with-background { 
  background: #003264; 
  width: 100%; 
  left: 0; 
  border-bottom: #ffc800 4px solid; 
  padding: 5px 0; 
  top: 0; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(0, 50, 100); 
  border-bottom-width: 4px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 200, 0); 
  padding-top: 5px; 
  padding-right: 0px; 
  padding-bottom: 5px; 
  padding-left: 0px;
} 

body { 
  line-height: 1.5; 
  font-family: 'Roboto', sans-serif; 
  max-height: 100%; 
  overflow: hidden; 
  font-size: 16px; 
  overflow-x: hidden; 
  overflow-y: hidden;
} 

.aui body { 
  margin: 0; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px; 
  line-height: 20px; 
  color: #333; 
  background-color: white; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.aui body { 
  color: #000; 
  font-family: GothamBook; 
  font-size: 14px; 
  line-height: 20px; 
  margin: 0; 
  margin: 0 auto; 
  min-height: 100vh; 
  text-align: left; 
  margin-top: 0px; 
  margin-right: auto; 
  margin-bottom: 0px; 
  margin-left: auto;
} 

.aui body { 
  overflow: hidden; 
  overflow-x: hidden; 
  overflow-y: hidden;
} 

.aui.login-app body { 
  overflow-y: auto;
} 

.aui { 
  color: #333; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px; 
  line-height: 20px; 
  margin: 0; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav , .aui section { 
  display: block;
} 

:selection { 
  color: #fff; 
  background-color: #98c5e9;
} 

.container { 
  width: 1366px; 
  max-width: 100%;
} 

.container , .container , .container , .container  { 
  width: 940px;
} 

.container  { 
  margin-right: auto; 
  margin-left: auto;
} 

@media (min-width: 1200px){     
.container , .container , .container , .container  { 
  width: 1170px;
} 
}     

.container:before , .container:after  { 
  display: table; 
  content: ""; 
  line-height: 0;
} 

.clearfix:before , .clearfix:after , .container:before , .container:after , .container-fluid:before , .container-fluid:after , .row:before , .row:after , .form-group:before , .form-group:after  { 
  display: table; 
  content: " ";
} 

.container:after  { 
  clear: both;
} 

.clearfix:after , dd:after , .container:after , .container-fluid:after , .row:after  { 
  clear: both;
} 

.no-padding { 
  padding: 0 !important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

.no-padding { 
  padding: 0!important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

ul , .aui ol { 
  padding: 0; 
  margin: 0 0 10px 25px; 
  padding-top: 0px; 
  padding-right: 0px; 
  padding-bottom: 0px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 10px; 
  margin-left: 25px;
} 

ul  { 
  padding: 17px 0; 
  margin: 0; 
  padding-top: 17px; 
  padding-right: 0px; 
  padding-bottom: 17px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

.pull-left  { 
  float: left;
} 

.pull-right  { 
  float: right;
} 

ul.menu-right  { 
  font-size: 1.2rem;
} 

.hamburger { 
  font: inherit; 
  display: inline-block; 
  overflow: visible; 
  margin: 0; 
  padding: 15px; 
  cursor: pointer; 
  transition-timing-function: linear; 
  transition-duration: .15s; 
  transition-property: opacity,filter; 
  text-transform: none; 
  color: inherit; 
  border: 0; 
  background-color: transparent; 
  font-style: inherit; 
  font-variant-ligatures: inherit; 
  font-variant-caps: inherit; 
  font-variant-numeric: inherit; 
  font-variant-east-asian: inherit; 
  font-weight: inherit; 
  font-stretch: inherit; 
  font-size: inherit; 
  line-height: inherit; 
  font-family: inherit; 
  overflow-x: visible; 
  overflow-y: visible; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  padding-top: 15px; 
  padding-right: 15px; 
  padding-bottom: 15px; 
  padding-left: 15px; 
  border-top-width: 0px; 
  border-right-width: 0px; 
  border-bottom-width: 0px; 
  border-left-width: 0px; 
  border-top-style: initial; 
  border-right-style: initial; 
  border-bottom-style: initial; 
  border-left-style: initial; 
  border-top-color: initial; 
  border-right-color: initial; 
  border-bottom-color: initial; 
  border-left-color: initial; 
  border-image-source: initial; 
  border-image-slice: initial; 
  border-image-width: initial; 
  border-image-outset: initial; 
  border-image-repeat: initial;
} 

.hamburger { 
  display: none; 
  float: right; 
  outline: 0; 
  outline-color: initial; 
  outline-style: initial; 
  outline-width: 0px;
} 

button , .aui input, .aui select, .aui textarea { 
  margin: 0; 
  font-size: 100%; 
  vertical-align: middle; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

button , .aui input { 
  line-height: normal;
} 

button , input[type="button"] , input[type="reset"] , input[type="submit"]  { 
  -webkit-appearance: button; 
  cursor: pointer; 
  appearance: button;
} 

.aui label, .aui select, button , input[type="button"] , input[type="reset"] , input[type="submit"] , input[type="radio"] , input[type="checkbox"]  { 
  cursor: pointer;
} 

.aui label, .aui input, button , .aui select, .aui textarea { 
  font-size: 14px; 
  font-weight: normal; 
  line-height: 20px;
} 

.aui input, button , .aui select, .aui textarea { 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} 

button  { 
  -webkit-tap-highlight-color: transparent;
} 

ul.mobile-menu  { 
  position: fixed; 
  background: #003264; 
  top: 72px; 
  height: 100%; 
  width: 100%; 
  transition: .5s; 
  -webkit-transition: .5s; 
  -moz-transition: .5s; 
  -o-transition: .5s; 
  left: -100%; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(0, 50, 100); 
  transition-duration: 0.5s; 
  transition-timing-function: ease; 
  transition-delay: 0s; 
  transition-property: all;
} 

li  { 
  line-height: 20px;
} 

li  { 
  position: relative;
} 

ul li  { 
  display: inline-block; 
  list-style: none; 
  margin: 0 10px; 
  text-transform: none; 
  font-size: 1.2rem; 
  list-style-position: initial; 
  list-style-image: initial; 
  list-style-type: none; 
  margin-top: 0px; 
  margin-right: 10px; 
  margin-bottom: 0px; 
  margin-left: 10px;
} 

ul li:first-child  { 
  margin-left: 0;
} 

ul li.site-title  { 
  width: auto; 
  text-align: right; 
  border-right: 1px solid #FFF; 
  padding-right: 2rem; 
  position: relative; 
  top: .8rem; 
  color: #FFF; 
  height: 24px; 
  padding-top: .2rem; 
  display: none; 
  border-right-width: 1px; 
  border-right-style: solid; 
  border-right-color: rgb(255, 255, 255);
} 

ul li:after  { 
  content: url(https://sbnonline.bankmandiri.co.id/login-theme/images/icon-menu.png); 
  margin-left: 30px;
} 

ul li.site-title:after  { 
  content: ''; 
  margin: 0; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

ul li:last-child  { 
  margin-right: 0;
} 

ul li:last-child:after  { 
  content: ''; 
  position: absolute;
} 

.hamburger-box { 
  position: relative; 
  display: inline-block; 
  width: 40px; 
  height: 24px;
} 

ul.mobile-menu li  { 
  display: block; 
  margin: 18px 20px; 
  border-bottom: 2px solid #FFF; 
  padding-bottom: 1rem; 
  margin-top: 18px; 
  margin-right: 20px; 
  margin-bottom: 18px; 
  margin-left: 20px; 
  border-bottom-width: 2px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 255, 255);
} 

ul.mobile-menu li:after  { 
  content: '';
} 

.logo { 
  display: inline-block; 
  line-height: 1; 
  vertical-align: middle;
} 

a  { 
  color: #0af; 
  text-decoration: none; 
  text-decoration-line: none; 
  text-decoration-thickness: initial; 
  text-decoration-style: initial; 
  text-decoration-color: initial;
} 

a  { 
  color: #000;
} 

a  { 
  color: #FFF;
} 

.default-logo  { 
  position: relative; 
  top: .5rem; 
  margin-right: 1rem;
} 

.hamburger-inner { 
  top: 50%; 
  display: block; 
  margin-top: -2px;
} 

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before { 
  position: absolute; 
  width: 40px; 
  height: 4px; 
  transition-timing-function: ease; 
  transition-duration: .15s; 
  transition-property: transform; 
  border-radius: 4px; 
  background-color: #000; 
  border-top-left-radius: 4px; 
  border-top-right-radius: 4px; 
  border-bottom-right-radius: 4px; 
  border-bottom-left-radius: 4px;
} 

.hamburger--slider .hamburger-inner  { 
  top: 2px;
} 

.hamburger .hamburger-inner , .hamburger .hamburger-inner:after , .hamburger .hamburger-inner:before  { 
  background: #FFF; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(255, 255, 255);
} 

.hamburger-inner:after, .hamburger-inner:before { 
  display: block; 
  content: "";
} 

.hamburger-inner:before { 
  top: -10px;
} 

.hamburger--slider .hamburger-inner:before  { 
  top: 10px; 
  transition-timing-function: ease; 
  transition-duration: .15s; 
  transition-property: transform,opacity;
} 

.hamburger-inner:after { 
  bottom: -10px;
} 

.hamburger--slider .hamburger-inner:after  { 
  top: 20px;
} 

img  { 
  max-width: 100%;
} 

img  { 
  max-width: 100%; 
  width: auto\9; 
  height: auto; 
  vertical-align: middle; 
  border: 0; 
  -ms-interpolation-mode: bicubic; 
  border-top-width: 0px; 
  border-right-width: 0px; 
  border-bottom-width: 0px; 
  border-left-width: 0px; 
  border-top-style: initial; 
  border-right-style: initial; 
  border-bottom-style: initial; 
  border-left-style: initial; 
  border-top-color: initial; 
  border-right-color: initial; 
  border-bottom-color: initial; 
  border-left-color: initial; 
  border-image-source: initial; 
  border-image-slice: initial; 
  border-image-width: initial; 
  border-image-outset: initial; 
  border-image-repeat: initial;
} 

ul li img  { 
  width: 18px; 
  margin-right: 12px; 
  position: relative; 
  top: -1px;
} 

.default-logo img  { 
  width: 120px;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, nav , .aui section { 
  display: block;
} 

nav ul  { 
  padding: 17px 0; 
  margin: 0; 
  padding-top: 17px; 
  padding-right: 0px; 
  padding-bottom: 17px; 
  padding-left: 0px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

nav ul.mobile-menu  { 
  position: fixed; 
  background: #003264; 
  top: 72px; 
  height: 100%; 
  width: 100%; 
  transition: .5s; 
  -webkit-transition: .5s; 
  -moz-transition: .5s; 
  -o-transition: .5s; 
  left: -100%; 
  background-image: initial; 
  background-position-x: initial; 
  background-position-y: initial; 
  background-size: initial; 
  background-repeat-x: initial; 
  background-repeat-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: rgb(0, 50, 100); 
  transition-duration: 0.5s; 
  transition-timing-function: ease; 
  transition-delay: 0s; 
  transition-property: all;
} 

.modify-pages li  { 
  position: relative;
} 

nav ul li  { 
  display: inline-block; 
  list-style: none; 
  margin: 0 10px; 
  text-transform: none; 
  font-size: 1.2rem; 
  list-style-position: initial; 
  list-style-image: initial; 
  list-style-type: none; 
  margin-top: 0px; 
  margin-right: 10px; 
  margin-bottom: 0px; 
  margin-left: 10px;
} 

nav ul li:first-child  { 
  margin-left: 0;
} 

nav ul li.site-title  { 
  width: auto; 
  text-align: right; 
  border-right: 1px solid #FFF; 
  padding-right: 2rem; 
  position: relative; 
  top: .8rem; 
  color: #FFF; 
  height: 24px; 
  padding-top: .2rem; 
  display: none; 
  border-right-width: 1px; 
  border-right-style: solid; 
  border-right-color: rgb(255, 255, 255);
} 

nav ul li:after  { 
  content: url(https://sbnonline.bankmandiri.co.id/login-theme/images/icon-menu.png); 
  margin-left: 30px;
} 

nav ul li.site-title:after  { 
  content: ''; 
  margin: 0; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px;
} 

nav ul li:last-child  { 
  margin-right: 0;
} 

nav ul li:last-child:after  { 
  content: ''; 
  position: absolute;
} 

nav ul.mobile-menu li  { 
  display: block; 
  margin: 18px 20px; 
  border-bottom: 2px solid #FFF; 
  padding-bottom: 1rem; 
  margin-top: 18px; 
  margin-right: 20px; 
  margin-bottom: 18px; 
  margin-left: 20px; 
  border-bottom-width: 2px; 
  border-bottom-style: solid; 
  border-bottom-color: rgb(255, 255, 255);
} 

nav ul.mobile-menu li:after  { 
  content: '';
} 

nav ul li img  { 
  width: 18px; 
  margin-right: 12px; 
  position: relative; 
  top: -1px;
} 

.owl-carousel, .owl-carousel .owl-item { 
  -webkit-tap-highlight-color: transparent; 
  position: relative;
} 

.owl-carousel .owl-item, .owl-carousel .owl-wrapper { 
  -webkit-backface-visibility: hidden; 
  -moz-backface-visibility: hidden; 
  -ms-backface-visibility: hidden; 
  -webkit-transform: translate3d(0, 0, 0); 
  -moz-transform: translate3d(0, 0, 0); 
  -ms-transform: translate3d(0, 0, 0); 
  backface-visibility: hidden; 
  transform: translate3d(0px, 0px, 0px);
} 

.owl-carousel .owl-item { 
  min-height: 1px; 
  float: left; 
  -webkit-backface-visibility: hidden; 
  -webkit-touch-callout: none; 
  backface-visibility: hidden;
} 

.owl-carousel.owl-drag .owl-item { 
  -ms-touch-action: pan-y; 
  touch-action: pan-y; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
} 

.owl-carousel .owl-stage { 
  position: relative; 
  -ms-touch-action: pan-Y; 
  touch-action: manipulation; 
  -moz-backface-visibility: hidden;
} 

.owl-carousel .owl-stage-outer { 
  position: relative; 
  overflow: hidden; 
  -webkit-transform: translate3d(0, 0, 0); 
  overflow-x: hidden; 
  overflow-y: hidden; 
  transform: translate3d(0px, 0px, 0px);
} 

.owl-carousel { 
  display: none; 
  width: 100%; 
  z-index: 1;
} 

.no-js .owl-carousel, .owl-carousel.owl-loaded { 
  display: block;
} 

.portlet-journal-content .journal-content-article { 
  clear: right;
} 

.portlet-content, .portlet-minimized .portlet-content-container { 
  padding: 0 !important; 
  padding-top: 0px !important; 
  padding-right: 0px !important; 
  padding-bottom: 0px !important; 
  padding-left: 0px !important;
} 

.portlet-content, .portlet-minimized .portlet-content-container { 
  padding: 12px 10px 10px; 
  padding-top: 12px; 
  padding-right: 10px; 
  padding-bottom: 10px; 
  padding-left: 10px;
} 

.wrapper-login .portlet-content { 
  padding: 0; 
  padding-top: 0px; 
  padding-right: 0px; 
  padding-bottom: 0px; 
  padding-left: 0px;
} 

.portlet { 
  background: transparent !important; 
  margin-bottom: 0 !important; 
  background-image: initial !important; 
  background-position-x: initial !important; 
  background-position-y: initial !important; 
  background-size: initial !important; 
  background-repeat-x: initial !important; 
  background-repeat-y: initial !important; 
  background-attachment: initial !important; 
  background-origin: initial !important; 
  background-clip: initial !important; 
  background-color: transparent !important;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav, .aui section { 
  display: block;
} 

[class*="span"]  { 
  float: left; 
  min-height: 1px; 
  margin-left: 20px;
} 

.aui .span12 { 
  width: 940px;
} 

@media (min-width: 1200px){     
[class*="span"]  { 
  float: left; 
  min-height: 1px; 
  margin-left: 30px;
} 
}     

@media (min-width: 1200px){     
.aui .span12 { 
  width: 1170px;
} 
}     

[class*="span"]  { 
  display: block; 
  width: 100%; 
  min-height: 30px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  float: left; 
  margin-left: 2.12766%;
} 

.aui .row-fluid .span12 { 
  width: 100%;
} 

@media (min-width: 1200px){     
[class*="span"]  { 
  display: block; 
  width: 100%; 
  min-height: 30px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  float: left; 
  margin-left: 2.5641%;
} 
}     

@media (min-width: 1200px){     
.aui .row-fluid .span12 { 
  width: 100%;
} 
}     

[class*="span"]  { 
  box-sizing: border-box; 
  display: block; 
  float: right; 
  margin-left: 0; 
  min-height: 30px; 
  margin-top: 10%;
} 

[class*="span"]  { 
  margin-top: 0; 
  float: left;
} 

[class*="span"]:first-child  { 
  margin-left: 0;
} 

@media (min-width: 1200px){     
[class*="span"]:first-child  { 
  margin-left: 0;
} 
}     

.aui .row-fluid { 
  width: 100%;
} 

@media (min-width: 1200px){     
.aui .row-fluid { 
  width: 100%;
} 
}     

#content { 
  text-align: center;
} 

#content { 
  text-align: left;
} 

#content { 
  margin-top: 4.8rem;
} 

.home-carousel .list-carousel  { 
  height: 100vh; 
  width: 100%; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-repeat-x: no-repeat; 
  background-repeat-y: no-repeat;
} 

.section-info-login { 
  padding: 6rem 0; 
  color: #555; 
  text-align: left; 
  outline: 0; 
  padding-top: 6rem; 
  padding-right: 0px; 
  padding-bottom: 6rem; 
  padding-left: 0px; 
  outline-color: initial; 
  outline-style: initial; 
  outline-width: 0px;
} 

.animated { 
  -webkit-animation-duration: 1s; 
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both;
} 

.fadeInUp { 
  -webkit-animation-name: fadeInUp; 
  animation-name: fadeInUp;
} 

.vp-fadein, .vp-fadeinup, .vp-fadeinright, .vp-fadeindown, .vp-fadeinleft, .vp-slideinup, .vp-slideinright, .vp-slideindown, .vp-slideinleft, .vp-rotatein, .vp-rorateinupright, .vp-rotateinupleft, .vp-rotateindownright, .vp-rotateindownleft, .vp-zoomin, .vp-zoominup, .vp-zoominright, .vp-zoomindown, .vp-zoominleft, .vp-jackinthebox, .vp-rollin, .vp-rollout { 
  opacity: 0;
} 

.animated { 
  opacity: 0;
} 

.visible { 
  opacity: 1;
} 

.aui h1, h2 , .aui h3, .aui h4, .aui h5, .aui h6 { 
  margin: 10px 0; 
  font-family: inherit; 
  font-weight: bold; 
  line-height: 20px; 
  color: inherit; 
  text-rendering: optimizelegibility; 
  margin-top: 10px; 
  margin-right: 0px; 
  margin-bottom: 10px; 
  margin-left: 0px;
} 

.aui h1, h2 , .aui h3 { 
  line-height: 40px;
} 

h2  { 
  font-size: 31.5px;
} 

.aui h1, h2 , .aui h3 { 
  line-height: 20px;
} 

.content-info .title-info  { 
  line-height: 33px; 
  font-size: 1.8rem; 
  text-align: center; 
  margin-bottom: 4rem; 
  font-weight: normal;
} 

.row  { 
  margin-left: -20px;
} 

@media (min-width: 1200px){     
.row  { 
  margin-left: -30px;
} 
}     

.row  { 
  margin-left: 0;
} 

.row:before , .row:after  { 
  display: table; 
  content: ""; 
  line-height: 0;
} 

@media (min-width: 1200px){     
.row:before , .row:after  { 
  display: table; 
  content: ""; 
  line-height: 0;
} 
}     

.row:after  { 
  clear: both;
} 

@media (min-width: 1200px){     
.row:after  { 
  clear: both;
} 
}     

.delayp1 { 
  animation-delay: .1s; 
  -moz-animation-delay: .1s; 
  -webkit-animation-delay: .1s; 
  -o-animation-delay: .1s; 
  -webkit-transition-delay: .1s; 
  transition-delay: .1s;
} 

.span4  { 
  width: 300px;
} 

@media (min-width: 1200px){     
.span4  { 
  width: 370px;
} 
}     

.span4  { 
  width: 31.91489%;
} 

@media (min-width: 1200px){     
.span4  { 
  width: 31.62393%;
} 
}     

.row .span4  { 
  width: 30.33333%;
} 

.delayp2 { 
  animation-delay: .2s; 
  -moz-animation-delay: .2s; 
  -webkit-animation-delay: .2s; 
  -o-animation-delay: .2s; 
  -webkit-transition-delay: .2s; 
  transition-delay: .2s;
} 

.delayp3 { 
  animation-delay: .3s; 
  -moz-animation-delay: .3s; 
  -webkit-animation-delay: .3s; 
  -o-animation-delay: .3s; 
  -webkit-transition-delay: .3s; 
  transition-delay: .3s;
} 

.content-info .list-info  { 
  margin-bottom: 1rem; 
  margin-left: 5rem; 
  padding-left: 1.5rem; 
  border-left: 4px solid #67b2e8; 
  min-height: 150px; 
  border-left-width: 4px; 
  border-left-style: solid; 
  border-left-color: rgb(103, 178, 232);
} 

p  { 
  margin: 0 0 10px; 
  margin-top: 0px; 
  margin-right: 0px; 
  margin-bottom: 10px; 
  margin-left: 0px;
} 

.content-info .list-info .number  { 
  position: absolute; 
  font-size: 1.5rem; 
  font-family: 'GothamBold'; 
  margin-left: -65px;
} 

.content-info .list-info .subtitle  { 
  font-size: 1.2rem; 
  font-family: 'GothamBold';
} 

.content-info .list-info .desc  { 
  opacity: .8;
} 

.section-investasi { 
  padding: 80px 0; 
  background: url(https://sbnonline.bankmandiri.co.id/login-theme/images/blue.png); 
  background-size: cover; 
  background-repeat: no-repeat; 
  padding-top: 80px; 
  padding-right: 0px; 
  padding-bottom: 80px; 
  padding-left: 0px; 
  background-image: url("https://sbnonline.bankmandiri.co.id/login-theme/images/blue.png"); 
  background-position-x: initial; 
  background-position-y: initial; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: initial; 
  background-color: initial; 
  background-repeat-x: no-repeat; 
  background-repeat-y: no-repeat;
} 

span  { 
  font-size: 1.5rem; 
  color: #FFF; 
  position: relative; 
  top: 8px; 
  font-family: 'GothamLight';
} 

.right { 
  float: right;
} 

.cxrus-mantreasure-btn { 
  text-transform: uppercase; 
  border-radius: 20px; 
  display: inline-block; 
  padding: 7px; 
  text-align: center; 
  font-family: GothamBold!important; 
  font-size: 11px!important; 
  border-style: solid; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-bottom-left-radius: 20px; 
  padding-top: 7px; 
  padding-right: 7px; 
  padding-bottom: 7px; 
  padding-left: 7px; 
  border-top-style: solid; 
  border-right-style: solid; 
  border-bottom-style: solid; 
  border-left-style: solid;
} 

.cxrus-mantreasure-btn.blue { 
  background-color: #73c3f5!important; 
  color: white!important; 
  border-color: #73c3f5!important; 
  padding: 7px 25px; 
  outline: 0; 
  transition: .3s; 
  -webkit-transition: .3s; 
  -moz-transition: .3s; 
  -o-transition: .3; 
  padding-top: 7px; 
  padding-right: 25px; 
  padding-bottom: 7px; 
  padding-left: 25px; 
  outline-color: initial; 
  outline-style: initial; 
  outline-width: 0px; 
  transition-duration: 0.3s; 
  transition-timing-function: ease; 
  transition-delay: 0s; 
  transition-property: all; 
  border-top-color: rgb(115, 195, 245) !important; 
  border-right-color: rgb(115, 195, 245) !important; 
  border-bottom-color: rgb(115, 195, 245) !important; 
  border-left-color: rgb(115, 195, 245) !important;
} 