<div class="container-menu with-background XXsnipcss_extracted_selector_selectionXX">
  <app-topbar></app-topbar>
</div>
<!-- CAROUSEL -->
<div class="list-carousel XXsnipcss_extracted_selector_selectionXX" style="background-image: url(/image/journal/article?img_id=17195335&amp;t=1616550535463)">
</div>
<!-- BAWAH CAROUSEL -->
<router-outlet></router-outlet>
<!-- FOOTER -->
<app-footer></app-footer>

