<div class="section-info-login XXsnipcss_extracted_selector_selectionXX" id="info-login">
    <div class="container">
      <div class="content-info">
        <h2 class="title-info vp-fadeinup visible animated fadeInUp full-visible">
          Bagaimana cara membeli SBN Online Di Bank Mandiri?
        </h2>
        <div class="row">
          <div class="span4 vp-fadeinup delayp1 visible animated fadeInUp full-visible">
            <div class="list-info">
              <p class="number">
                #1
              </p>
              <p class="subtitle">
                Daftar
              </p>
              <p class="desc">
                Mulai dengan daftar di halaman utama SBN Online Mandiri. Jika sebelumnya anda telah terdaftar sebagai nasabah Bank Mandiri, silahkan login terlebih dahulu
              </p>
            </div>
          </div>
          <div class="span4 vp-fadeinup delayp2 visible animated fadeInUp full-visible">
            <div class="list-info">
              <p class="number">
                #2
              </p>
              <p class="subtitle">
                Beli
              </p>
              <p class="desc">
                Pembelian bisa dilakukan pada masa-masa yang telah ditentukan oleh pemerintah. Masa penawaran akan dibuka selama 2 pekan. Setelah masa pemesanan ditutup, anda tidak bisa melakukan pembelian.
              </p>
            </div>
          </div>
          <div class="span4 vp-fadeinup delayp3 visible animated fadeInUp full-visible">
            <div class="list-info">
              <p class="number">
                #3
              </p>
              <p class="subtitle">
                Bayar
              </p>
              <p class="desc">
                Untuk saat ini, pembayaran bisa dilakukan melalui ATM, Internet Banking, dan Teller. Pembayaran dilakukan melalui menu penerimaan negara. Dan akan langsung masuk ke kas negara.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SECTION 4 -->
  <div class="section-investasi XXsnipcss_extracted_selector_selectionXX">
    <div class="container">
      <span class="vp-fadeinup visible animated fadeInUp full-visible">
        Berinvestasi untuk masa depan dengan keuntungan maksimal
      </span>
      <a href="https://sbnonline.bankmandiri.co.id/login" class="cxrus-mantreasure-btn blue right vp-fadeinup delayp2 visible animated fadeInUp full-visible">
        Mulai Sekarang
      </a>
    </div>
  </div>