<div class="section-login" id="section_Home">
  <div class="container XXsnipcss_extracted_selector_selectionXX">
    <div class="span6">
      <div class="box-desc-login">
        <span class="subtitle">
          Selamat Datang di
        </span>
        <h3 class="title">
          SBN Ritel Online
        </h3>
        <span class="subtitle">
          Kemudahan pemesanan Surat Berharga Negara secara online dimanapun kapanpun
        </span>
      </div>
    </div>
    <div class="span6">
      <div class="box-login">
        <form action="https://sbndev.bankmandiri.co.id:443/login?p_p_id=58&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_58_struts_action=%2Flogin%2Flogin" class="form sign-in-form " id="_58_fm" method="post" name="_58_fm" autocomplete="off">
          <fieldset class="input-container">
            <input name="_58_formDate" type="hidden" value="1617955661865">
            <input class="field" id="_58_saveLastPath" name="_58_saveLastPath" type="hidden" value="false">
            <input class="field" id="_58_redirect" name="_58_redirect" type="hidden" value="">
            <input class="field" id="_58_doActionAfterLogin" name="_58_doActionAfterLogin" type="hidden" value="false">
            <fieldset class="fieldset ">
              <div class="">
                <div class="form-login">
                  <div class="control-group input-text-wrapper">
                    <label class="control-label" for="_58_login">
                      Screen Name 
                    </label>
                    <i class="material-icons">
                      person
                    </i>
                    <input class="field clearable inputUsername" id="_58_login" name="_58_login" placeholder="Username" type="text" value="" autocomplete="off">
                  </div>
                  <div class="control-group input-text-wrapper">
                    <label class="control-label" for="_58_password">
                      Password 
                    </label>
                    <i class="material-icons">
                      lock
                    </i>
                    <input class="field inputPassword" id="_58_password" name="_58_password" placeholder="Password" type="password" value="" autocomplete="off">
                    <i class="material-icons pass-visibility-off">
                      visibility_off
                    </i>
                    <i class="material-icons pass-visibility">
                      visibility
                    </i>
                  </div>
                </div>
                <span id="_58_passwordCapsLockSpan" style="display: none;">
                  Caps Lock is on.
                </span>
              </div>
            </fieldset>
            <div class="button-holder ">
              <button class="btn btn-primary" type="submit">
                Sign In 
              </button>
            </div>
          </fieldset>
        </form>
        <div class="navigation">
          <span class="nav-link">
            <a href="/web/sbn/reset-password" id="newsLink" class=" taglib-icon">
              <span class="taglib-text">
                Forgot Password 
              </span>
            </a>
          </span>
          <span class="nav-link">
            <a href="/web/sbn/registration" id="newsLink" class=" taglib-icon">
              <span class="taglib-text">
                Daftar Sekarang 
              </span>
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="clear">
    </div>
    <a class="bottom-page" href="#info-login">
      <span>
        Lebih Lanjut
      </span>
    </a>
  </div>  
</div>
  