@font-face { 
    font-family:GothamBook;
    src:url(https://sbndev.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBook.otf);
    } 
    @font-face { 
    font-family:GothamBold;
    src:url(https://sbndev.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBold.otf);
    } 
    @font-face { 
    font-family:'Material Icons';
    font-style:normal;
    font-weight:400;
    src:url(https://sbndev.bankmandiri.co.id/login-theme/fonts/iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
      src:local("Material Icons"), local("MaterialIcons-Regular"), url(https://sbndev.bankmandiri.co.id/login-theme/fonts/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(https://sbndev.bankmandiri.co.id/login-theme/fonts/iconfont/MaterialIcons-Regular.woff) format("woff"), url(https://sbndev.bankmandiri.co.id/login-theme/fonts/iconfont/MaterialIcons-Regular.ttf) format("truetype");
    } 
    .portlet-journal-content .journal-content-article { 
        clear: right;
    } 
    
    .portlet-content, .portlet-minimized .portlet-content-container { 
        padding: 0 !important; 
        padding-top: 0px !important; 
        padding-right: 0px !important; 
        padding-bottom: 0px !important; 
        padding-left: 0px !important;
    } 
    
    .portlet-content, .portlet-minimized .portlet-content-container { 
        padding: 12px 10px 10px; 
        padding-top: 12px; 
        padding-right: 10px; 
        padding-bottom: 10px; 
        padding-left: 10px;
    } 
    
    .wrapper-login .portlet-content { 
        padding: 0; 
        padding-top: 0px; 
        padding-right: 0px; 
        padding-bottom: 0px; 
        padding-left: 0px;
    } 
    
    .portlet { 
        background: transparent !important; 
        margin-bottom: 0 !important; 
        background-image: initial !important; 
        background-position-x: initial !important; 
        background-position-y: initial !important; 
        background-size: initial !important; 
        background-repeat-x: initial !important; 
        background-repeat-y: initial !important; 
        background-attachment: initial !important; 
        background-origin: initial !important; 
        background-clip: initial !important; 
        background-color: transparent !important;
    } 
    
    .aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav, .aui section { 
        display: block;
    } 
    
    [class*="span"]  { 
        float: left; 
        min-height: 1px; 
        margin-left: 20px;
    } 
    
    .aui .span12 { 
        width: 940px;
    } 
    
    @media (min-width: 1200px){     
    [class*="span"]  { 
        float: left; 
        min-height: 1px; 
        margin-left: 30px;
    } 
    }     
    
    @media (min-width: 1200px){     
    .aui .span12 { 
        width: 1170px;
    } 
    }     
    
    [class*="span"]  { 
        display: block; 
        width: 100%; 
        min-height: 30px; 
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        box-sizing: border-box; 
        float: left; 
        margin-left: 2.12766%;
    } 
    
    .aui .row-fluid .span12 { 
        width: 100%;
    } 
    
    @media (min-width: 1200px){     
    [class*="span"]  { 
        display: block; 
        width: 100%; 
        min-height: 30px; 
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        box-sizing: border-box; 
        float: left; 
        margin-left: 2.5641%;
    } 
    }     
    
    @media (min-width: 1200px){     
    .aui .row-fluid .span12 { 
        width: 100%;
    } 
    }     
    
    [class*="span"]  { 
        box-sizing: border-box; 
        display: block; 
        float: right; 
        margin-left: 0; 
        min-height: 30px; 
        margin-top: 10%;
    } 
    
    [class*="span"]  { 
        margin-top: 0; 
        float: left;
    } 
    
    [class*="span"]:first-child  { 
        margin-left: 0;
    } 
    
    @media (min-width: 1200px){     
    [class*="span"]:first-child  { 
        margin-left: 0;
    } 
    }     
    
    .aui .row-fluid { 
        width: 100%;
    } 
    
    @media (min-width: 1200px){     
    .aui .row-fluid { 
        width: 100%;
    } 
    }     
    
    #content { 
        text-align: center;
    } 
    
    #content { 
        text-align: left;
    } 
    
    #content { 
        margin-top: 4.8rem;
    } 
    
    body { 
        line-height: 1.5; 
        font-family: 'Roboto', sans-serif; 
        max-height: 100%; 
        overflow: hidden; 
        font-size: 16px; 
        overflow-x: hidden; 
        overflow-y: hidden;
    } 
    
    .aui body { 
        margin: 0; 
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
        font-size: 14px; 
        line-height: 20px; 
        color: #333; 
        background-color: white; 
        margin-top: 0px; 
        margin-right: 0px; 
        margin-bottom: 0px; 
        margin-left: 0px;
    } 
    
    .aui body { 
        color: #000; 
        font-family: GothamBook; 
        font-size: 14px; 
        line-height: 20px; 
        margin: 0; 
        margin: 0 auto; 
        min-height: 100vh; 
        text-align: left; 
        margin-top: 0px; 
        margin-right: auto; 
        margin-bottom: 0px; 
        margin-left: auto;
    } 
    
    .aui body { 
        overflow: hidden; 
        overflow-x: hidden; 
        overflow-y: hidden;
    } 
    
    .aui.login-app body { 
        overflow-y: auto;
    } 
    
    .aui { 
        color: #333; 
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
        font-size: 14px; 
        line-height: 20px; 
        margin: 0; 
        margin-top: 0px; 
        margin-right: 0px; 
        margin-bottom: 0px; 
        margin-left: 0px;
    } 
    
    .container { 
        width: 1366px; 
        max-width: 100%;
    } 
    
    .aui .container , .container , .container , .container  { 
        width: 940px;
    } 
    
    .aui .container  { 
        margin-right: auto; 
        margin-left: auto;
    } 
    
    @media (min-width: 1200px){     
    .aui .container , .container , .container , .container  { 
        width: 1170px;
    } 
    }     
    
    .container:before , .container:after  { 
        display: table; 
        content: ""; 
        line-height: 0;
    } 
    
    .clearfix:before , .clearfix:after , .container:before , .container:after , .container-fluid:before , .container-fluid:after , .row:before , .row:after , .form-group:before , .form-group:after  { 
        display: table; 
        content: " ";
    } 
    
    .container:after  { 
        clear: both;
    } 
    
    .clearfix:after , dd:after , .container:after , .container-fluid:after , .row:after  { 
        clear: both;
    } 
    
    :selection { 
        color: #fff; 
        background-color: #98c5e9;
    } 
    
    .container-faq { 
        padding: 6rem 0; 
        width: 55%; 
        margin: 0 auto; 
        padding-top: 6rem; 
        padding-right: 0px; 
        padding-bottom: 6rem; 
        padding-left: 0px; 
        margin-top: 0px; 
        margin-right: auto; 
        margin-bottom: 0px; 
        margin-left: auto;
    } 
    
    .animated { 
        -webkit-animation-duration: 1s; 
        animation-duration: 1s; 
        -webkit-animation-fill-mode: both; 
        animation-fill-mode: both;
    } 
    
    .fadeInUp { 
        -webkit-animation-name: fadeInUp; 
        animation-name: fadeInUp;
    } 
    
    .vp-fadein, .vp-fadeinup, .vp-fadeinright, .vp-fadeindown, .vp-fadeinleft, .vp-slideinup, .vp-slideinright, .vp-slideindown, .vp-slideinleft, .vp-rotatein, .vp-rorateinupright, .vp-rotateinupleft, .vp-rotateindownright, .vp-rotateindownleft, .vp-zoomin, .vp-zoominup, .vp-zoominright, .vp-zoomindown, .vp-zoominleft, .vp-jackinthebox, .vp-rollin, .vp-rollout { 
        opacity: 0;
    } 
    
    .animated { 
        opacity: 0;
    } 
    
    .visible { 
        opacity: 1;
    } 
    
    .aui h1, .aui h2, h3 , .aui h4, .aui h5, .aui h6 { 
        margin: 10px 0; 
        font-family: inherit; 
        font-weight: bold; 
        line-height: 20px; 
        color: inherit; 
        text-rendering: optimizelegibility; 
        margin-top: 10px; 
        margin-right: 0px; 
        margin-bottom: 10px; 
        margin-left: 0px;
    } 
    
    .aui h1, .aui h2, h3  { 
        line-height: 40px;
    } 
    
    h3  { 
        font-size: 24.5px;
    } 
    
    .aui h1, .aui h2, h3  { 
        line-height: 20px;
    } 
    
    .container-faq .title-faq  { 
        text-align: center; 
        margin-bottom: 4rem; 
        font-weight: normal;
    } 
    
    .container-faq .title  { 
        padding: 20px 0; 
        border-bottom: 1px solid #CCC; 
        cursor: pointer; 
        padding-top: 20px; 
        padding-right: 0px; 
        padding-bottom: 20px; 
        padding-left: 0px; 
        border-bottom-width: 1px; 
        border-bottom-style: solid; 
        border-bottom-color: rgb(204, 204, 204);
    } 
    
    .container-faq .value  { 
        padding: 20px 0; 
        border-bottom: 1px solid #ccc; 
        padding-top: 0; 
        padding-right: 0px; 
        padding-bottom: 20px; 
        padding-left: 0px; 
        border-bottom-width: 1px; 
        border-bottom-style: solid; 
        border-bottom-color: rgb(204, 204, 204);
    } 
    
    .right { 
        float: right;
    } 
    
    .material-icons { 
        font-family: 'Material Icons'; 
        font-weight: normal; 
        font-style: normal; 
        font-size: 24px; 
        display: inline-block; 
        line-height: 1; 
        text-transform: none; 
        letter-spacing: normal; 
        word-wrap: normal; 
        white-space: nowrap; 
        direction: ltr; 
        -webkit-font-smoothing: antialiased; 
        text-rendering: optimizeLegibility; 
        -moz-osx-font-smoothing: grayscale; 
        font-feature-settings: 'liga'; 
        overflow-wrap: normal;
    } 
    
    .container-faq .title .arr_up  { 
        display: none;
    } 
    
    .container-faq .title .arr_down  { 
        display: block;
    } 
    
    .container-faq .title span  { 
        color: #003362;
    } 
    
    p  { 
        margin: 0 0 10px; 
        margin-top: 0px; 
        margin-right: 0px; 
        margin-bottom: 10px; 
        margin-left: 0px;
    } 
    
    .container-faq .value p  { 
        font-size: 12px; 
        color: #a8a8a8;
    } 
    
    .cxrus-mantreasure-btn { 
        text-transform: uppercase; 
        border-radius: 20px; 
        display: inline-block; 
        padding: 7px; 
        text-align: center; 
        font-family: GothamBold!important; 
        font-size: 11px!important; 
        border-style: solid; 
        border-top-left-radius: 20px; 
        border-top-right-radius: 20px; 
        border-bottom-right-radius: 20px; 
        border-bottom-left-radius: 20px; 
        padding-top: 7px; 
        padding-right: 7px; 
        padding-bottom: 7px; 
        padding-left: 7px; 
        border-top-style: solid; 
        border-right-style: solid; 
        border-bottom-style: solid; 
        border-left-style: solid;
    } 
    
    a  { 
        color: #0af; 
        text-decoration: none; 
        text-decoration-line: none; 
        text-decoration-thickness: initial; 
        text-decoration-style: initial; 
        text-decoration-color: initial;
    } 
    
    a  { 
        color: #000;
    } 
    
    a  { 
        color: #FFF;
    } 
    
    .cxrus-mantreasure-btn.blue { 
        background-color: #73c3f5!important; 
        color: white!important; 
        border-color: #73c3f5!important; 
        padding: 7px 25px; 
        outline: 0; 
        transition: .3s; 
        -webkit-transition: .3s; 
        -moz-transition: .3s; 
        -o-transition: .3; 
        padding-top: 7px; 
        padding-right: 25px; 
        padding-bottom: 7px; 
        padding-left: 25px; 
        outline-color: initial; 
        outline-style: initial; 
        outline-width: 0px; 
        transition-duration: 0.3s; 
        transition-timing-function: ease; 
        transition-delay: 0s; 
        transition-property: all; 
        border-top-color: rgb(115, 195, 245) !important; 
        border-right-color: rgb(115, 195, 245) !important; 
        border-bottom-color: rgb(115, 195, 245) !important; 
        border-left-color: rgb(115, 195, 245) !important;
    } 
    
    .container-faq .value a  { 
        color: #0af;
    } 
    
    .portlet-journal-content .journal-content-article  { 
        clear: right;
    } 
    
    .journal-content-article:after  { 
        clear: both; 
        content: ""; 
        display: block; 
        height: 0;
    } 
    
    .container , .container , .container , .container  { 
        width: 940px;
    } 
    
    .container  { 
        margin-right: auto; 
        margin-left: auto;
    } 
    
    @media (min-width: 1200px){     
    .container , .container , .container , .container  { 
        width: 1170px;
    } 
    }     
    
    footer { 
        background-image: url(https://sbndev.bankmandiri.co.id/login-theme/images/polygon.jpg); 
        background-size: cover; 
        padding: 20px; 
        text-align: left; 
        padding-top: 20px; 
        padding-right: 20px; 
        padding-bottom: 20px; 
        padding-left: 20px;
    } 
    
    .aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer , .aui header, .aui hgroup, .aui nav, .aui section { 
        display: block;
    } 
    
    .container , .container , .container , .container  { 
        padding-right: 15px; 
        padding-left: 15px; 
        margin-right: auto; 
        margin-left: auto;
    } 
    
    #backtotop { 
        background-color: #69b2e7; 
        cursor: pointer; 
        display: none; 
        height: 20px; 
        width: 20px; 
        position: fixed; 
        right: 130px; 
        bottom: 70px; 
        z-index: 8; 
        padding: 8px 8px; 
        border-radius: 9px; 
        color: #FFF; 
        padding-top: 8px; 
        padding-right: 8px; 
        padding-bottom: 8px; 
        padding-left: 8px; 
        border-top-left-radius: 9px; 
        border-top-right-radius: 9px; 
        border-bottom-right-radius: 9px; 
        border-bottom-left-radius: 9px;
    } 
    
    .content-top  { 
        padding: 30px 0; 
        padding-top: 30px; 
        padding-right: 0px; 
        padding-bottom: 30px; 
        padding-left: 0px;
    } 
    
    .content-bottom  { 
        padding: 30px 0; 
        padding-bottom: 20px; 
        width: 100%; 
        border-top: 2px solid #ffc800; 
        padding-top: 30px; 
        padding-right: 0px; 
        padding-left: 0px; 
        border-top-width: 2px; 
        border-top-style: solid; 
        border-top-color: rgb(255, 200, 0);
    } 
    
    #backtotop .material-icons  { 
        font-size: 18px;
    } 
    
    .row  { 
        margin: 0!important; 
        margin-top: 0px !important; 
        margin-right: 0px !important; 
        margin-bottom: 0px !important; 
        margin-left: 0px !important;
    } 
    
    .row  { 
        margin-left: -20px;
    } 
    
    @media (min-width: 1200px){     
    .row  { 
        margin-left: -30px;
    } 
    }     
    
    .row:before , .row:after  { 
        display: table; 
        content: ""; 
        line-height: 0;
    } 
    
    @media (min-width: 1200px){     
    .row:before , .row:after  { 
        display: table; 
        content: ""; 
        line-height: 0;
    } 
    }     
    
    .row:after  { 
        clear: both;
    } 
    
    @media (min-width: 1200px){     
    .row:after  { 
        clear: both;
    } 
    }     
    
    .cxrus-mantreasure-wrapper .col-sm-1, .col-sm-2 , .col-sm-3 , .col-sm-4 , .cxrus-mantreasure-wrapper .col-sm-5, .col-sm-6 , .cxrus-mantreasure-wrapper .col-sm-7, .cxrus-mantreasure-wrapper .col-sm-8, .cxrus-mantreasure-wrapper .col-sm-9, .cxrus-mantreasure-wrapper .col-sm-10, .cxrus-mantreasure-wrapper .col-sm-11, .cxrus-mantreasure-wrapper .col-sm-12 { 
        float: left; 
        position: relative; 
        min-height: 1px;
    } 
    
    .col-sm-4  { 
        width: 33.33333%;
    } 
    
    .col-sm-2  { 
        width: 16.66667%;
    } 
    
    .col-sm-3  { 
        width: 25%;
    } 
    
    .col-sm-6  { 
        width: 50%;
    } 
    
    h1 , .aui h2, .aui h3, .aui h4, .aui h5, .aui h6 { 
        margin: 10px 0; 
        font-family: inherit; 
        font-weight: bold; 
        line-height: 20px; 
        color: inherit; 
        text-rendering: optimizelegibility; 
        margin-top: 10px; 
        margin-right: 0px; 
        margin-bottom: 10px; 
        margin-left: 0px;
    } 
    
    h1 , .aui h2, .aui h3 { 
        line-height: 40px;
    } 
    
    h1  { 
        font-size: 38.5px;
    } 
    
    h1 , .aui h2, .aui h3 { 
        line-height: 20px;
    } 
    
    .content-top h1  { 
        font-size: 11px; 
        font-family: GothamBold; 
        color: #FFF; 
        text-transform: uppercase;
    } 
    
    p  { 
        margin-bottom: 0; 
        font-size: 10px;
    } 
    
    .content-top p  { 
        font-size: 10px; 
        color: #FFF;
    } 
    
    ul , .aui ol { 
        padding: 0; 
        margin: 0 0 10px 25px; 
        padding-top: 0px; 
        padding-right: 0px; 
        padding-bottom: 0px; 
        padding-left: 0px; 
        margin-top: 0px; 
        margin-right: 0px; 
        margin-bottom: 10px; 
        margin-left: 25px;
    } 
    
    .content-top ul  { 
        margin: 0; 
        padding: 0; 
        margin-top: 0px; 
        margin-right: 0px; 
        margin-bottom: 0px; 
        margin-left: 0px; 
        padding-top: 0px; 
        padding-right: 0px; 
        padding-bottom: 0px; 
        padding-left: 0px;
    } 
    
    .cxrus-mantreasure-cwhite { 
        color: white;
    } 
    
    .cxrus-mantreasure-cwhite { 
        color: #fff !important;
    } 
    
    li  { 
        line-height: 20px;
    } 
    
    .content-top ul li  { 
        list-style: none; 
        display: block; 
        list-style-position: initial; 
        list-style-image: initial; 
        list-style-type: none;
    } 
    
    .content-top .text-yellow  { 
        color: #ffc800;
    } 
    
    .content-top ul li a , a:hover  { 
        font-size: 10px; 
        color: #FFF;
    } 
    
    