<div class="container XXsnipcss_extracted_selector_selectionXX">
  <div class="container-faq">
    <h3 class="title-faq vp-fadeinup visible animated fadeInUp full-visible">
      Product Information
    </h3>
    <!-- <div id="head0">
      <div class="title" data-toggle="collapse">
        <a href="#collapseOne">
          <span>
            Apakah yang dimaksud dengan Saving Bond Ritel seri SBR-004 ?
          </span>
        </a>
      </div>
      <div id="collapseOne" class="value" style="display:none" data-parent="#head0">
        <p>
        </p>
        <p>
          SBR-004&nbsp;adalah salah satu jenis Surat Utang Negara dalam suatu lingkup Obligasi Negara yang dijual kepada individu atau perseorangan Warga Negara Indonesia melalui Agen Penjual di Pasar Perdana domestik yang tidak dapat diperjual-belikan di pasar sekunder. Saving Bond Ritel seri SBR-004 dijual di Pasar Perdana hanya kepada individu WNI, yang dibuktikan dengan KTP yang masih berlaku, melalui Agen Penjual di Pasar Perdana. Penjelasan lebih detail perihal Saving Bond Ritel seri SBR-003 dapat mengunduh Memorandum Informasi SBR-004 dibawah ini.
        </p>
        <p>
        </p>
        <br>
        <a href="/documents/1611492/1612420/SBR003.pdf/6d881c8b-8849-4360-855b-5e97f203ea5e" class="cxrus-mantreasure-btn blue">
          Donwload
        </a>
      </div>
    </div> -->
    <div id="accordion">
      <div >
        <div class="title card-header" data-toggle="collapse" data-target="#collapseOne">
            <span>
              Apakah yang dimaksud dengan Saving Bond Ritel seri SBR-004 ?
            </span>
        </div>
        <div id="collapseOne" class="collapse value" data-parent="#accordion">
          <div class="card-body">
            <p>
                SBR-004 adalah salah satu jenis Surat Utang Negara dalam suatu lingkup Obligasi Negara yang dijual kepada individu atau perseorangan Warga Negara Indonesia melalui Agen Penjual di Pasar Perdana domestik yang tidak dapat diperjual-belikan di pasar sekunder. Saving Bond Ritel seri SBR-004 dijual di Pasar Perdana hanya kepada individu WNI, yang dibuktikan dengan KTP yang masih berlaku, melalui Agen Penjual di Pasar Perdana. Penjelasan lebih detail perihal Saving Bond Ritel seri SBR-003 dapat mengunduh Memorandum Informasi SBR-004 dibawah ini.
            </p>
            <br>
            <a href="/documents/1611492/1612420/SBR003.pdf/6d881c8b-8849-4360-855b-5e97f203ea5e" class="cxrus-mantreasure-btn blue">
              Donwload
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="accordion2">
      <div class="card">
          <div class="title card-header" data-toggle="collapse" data-target="#collapseTwo">
            <span>
              Apakah keuntungan berinvestasi pada Saving Bonds Ritel seri SBR-003?
            </span>
            <!-- <a class="collapsed card-link"  href="#collapseTwo"> -->
            <!-- </a> -->
          </div>
          <div id="collapseTwo" class="collapse value" data-parent="#accordion2">
            <div class="card-body">
              <p>
                • Pembayaran Kupon dan Pokok SBR sampai dengan Tanggal Jatuh Tempo dijamin oleh Undang-Undang SUN dan dananya disediakan dalam APBN setiap tahunnya.
                <br>
                • Kupon dibayar setiap bulan;
                <br>
                • Kupon lebih tinggi dari rata-rata tingkat bunga deposito bank BUMN;
                <br>
                • Kupon mengambang mengikuti perkembangan Tingkat Bunga BI 7 days reverse repo, dengan jaminan Tidak ada batasan kupon maksimal;
                <br>
                • Terdapat fasilitas pelunasan sebagian sebelum jatuh tempo (early redemption) di tahun pertama (bulan ke 12) sebesar 50%.
                <br>
                • Memberikan kesempatan kepada masyarakat untuk turut serta mendukung pembiayaan pembangunan nasional.
              </p>
            </div>
          </div>
      </div>
    </div>
    <div id="accordion3">
      <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseThree">
            <span>
              Bagaimana Fitur Lengkap SBR-003 di Pasar Perdana?
            </span>
          </div>
          <div id="collapseThree" class="collapse value" data-parent="#accordion3">
            <div class="card-body">
              <p>
                  Informasi fitur lengkap dari Saving Bond Ritel seri SBR-003 dapat diunduh pada brosur dibawah ini:
              </p>
              <br>
              <a href="/documents/1611492/1612420/Brosur+SBR-003/f9618372-3562-4663-93f5-2638a1c78f6c?t=1568711344621" class="cxrus-mantreasure-btn blue">
                Donwload
              </a>
            </div>
          </div>
      </div>
    </div>
  <div id="accordion4">
      <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseFour">
            <span>
              Apakah yang dimaksud dengan jenis kupon mengambang dengan tingkat kupon minimal (floating with floor) yang berlaku pada SBR-003?
            </span>
              <!-- <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour"> -->
                
              <!-- </a> -->
          </div>
          <div id="collapseFour" class="collapse value" data-parent="#accordion4">
              <div class="card-body">
                  <p class="tengah">
                      Tingkat kupon SBR-003 disesuaikan setiap 3 bulan sekali yaitu setiap tanggal 21 Februari, 21 Mei, 21 Agustus dan 21 November. Penyesuaian dilakukand engan menjumlahkan tingkat suku bunga BI 7 Days Reverse Repo yang berlaku pada tanggal penyesuaian kupon dengan spread tetap sebesar 2,55% sampai dengan jatuh tempo. Pembayaran kupon SBR003 berlaku tetap untuk periode setiap 3 (tiga) bulan dan dibayar pada tanggal 20 setiap bulannya sampai dengan jatuh tempo.
                  <br>
                      Tingkat Kupon yang berlaku untuk periode 3 bulan pertama (tanggal 31 Mei 2018 sampai dengan tanggal 20 Agustus 2018) adalah sebesar 6,80%, berasal dari Tingkat Bunga BI 7 Days Reverse Repopada saat penetapan spread sebesar 4,25% ditambah spread tetap sebesar 2,25%. Tingkat kupon untuk periode tiga bulan pertama sebesar 6,80% tersebut berlaku sebagai tingkat bunga minimal (floor). Tingkat bunga minimal tidak berubah sampai dengan jatuh tempo.
                  </p>
          </div>
        </div>
      </div>
  </div>
  <div id="accordion5">
      <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseFive">
            <span>
              Apakah risiko investasi pada Saving Bond Ritel seri SBR-003?
            </span>
          </div>
          <div id="collapseFive" class="collapse value" data-parent="#accordion5">
            <div class="card-body">
              <p>
                Terdapat beberapa risiko berinvestasi pada instrumen di pasar keuangan, diantaranya adalah :
                <br>
                • Risiko Gagal Bayar. (default risk)
                <br>
                Risiko apabila investor tidak dapat memperoleh pembayaran dana yang dijanjikan oleh penerbit pada saat produk investasi jatuh tempo kupon dan pokok. SBR003 tidak memiliki risiko gagal bayar mengingat berdasarkan Undang-Undang SUN bahwa negara menjamin pembayaran kupon dan pokok Surat Utang Negara, termasuk SBR003 sampai dengan jatuh tempo, yang dananya disediakan dalam APBN setiap tahunnya.
                <br>
                • Risiko Likuiditas. (market risk)
                <br>
                Risiko apabila investor tidak dapat melikuidasi produk investasi dalam waktu yang cepat pada harga yang wajar. SBR003 memiliki risiko likuiditas karena tidak dapat diperdagangkan di pasar sekunder, sehingga investor diharapkan melakukan diversifikasi untuk mengurangi risiko ini. Namun SBR003 memiliki fitur early redemption yaitu pelunasan sebelum jatuh tempo setelah satu tahun kepemilikan (bulan ke-12) sebesar maksimum 50% dari total kepemilikan.
                <br>
                • Risiko Tingkat Bunga. (liquidity risk)
                <br>
                Risiko yang terjadi apabila terjadi perubahan tingkat bunga di pasar, yang menyebabkan potensi kerugian bagi investor. SBR003 tidak memiliki risiko tingkat bunga karena nilai pokok tidak berubah seiring dengan perubahan tingkat bunga di pasar dan tingkat kupon SBR003 mengikuti tingkat bunga BI 7 days reverse repo dengan jaminan tingkat kupon minimal (floor) sampai jatuh tempo.
              </p>
            </div>
          </div>
      </div>
  </div>
  <div id="accordion6">
      <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseSix">
            <span>
              Apakah bukti kepemilikan Saving Bond Ritel seri SBR-003?
            </span>
          </div>
          <div id="collapseSix" class="collapse value" data-parent="#accordion6">
            <div class="card-body">
              <p>
                Saving Bond Ritel seri SBR-003 diterbitkan dalam bentuk tanpa warkat (scriptless), namun kepada para investor akan diberikan Konfirmasi Kepemilikan.
              </p>
            </div>
          </div>
      </div>
  </div>
  <div id="accordion7">
      <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseSeven">
            <span>
              Apakah persamaan dan perbedaan Saving Bond Ritel (SBR) dengan Obligasi Negara Ritel Indonesia (ORI)?
            </span>
          </div>
          <div id="collapseSeven" class="collapse value" data-parent="#accordion7">
            <div class="card-body tengah">
              <p>
                Persamaan :
                <br>
                • SBR dan ORI merupakan Surat Berharga Negara yang diperuntukan bagi investor ritel.
                <br>
                • SBR dan ORI merupakan bukti investasi masyarakat kepada pemerintah.
                <br>
                • SBR maupun ORI pembayaran bunga/imbalan dan pelunasan/pembelian kembali dijamin oleh Pemerintah.
                <br>
                Perbedaan :
                <br>
                • ORI dapat diperdagangkan di pasar sekunder, sedangkan SBR tidak. Namun untuk SBR terdapat fasilitas Early redemption sebesar 50% di tahun pertama.
                <br>
                • Imbal hasil/ Kupon untuk ORI tetap sampai jatuh tempo, sedangkan Imbal hasil kupon SBR mengambang sesuai dengan pekembangan tingkat bunga BI 7 days reverse repo
              </p>
            </div>
          </div>
      </div>
  </div>
  <div id="accordion8">
      <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseEight">
            <span>
              Berapa satuan pembelian dalam Saving Bonds Ritel? Apakah ada batasan minimal dan maksimal pembelian?
            </span>
          </div>
          <div id="collapseEight" class="collapse value" data-parent="#accordion8">
            <div class="card-body tengah">
              <p>
                Harga per unit Saving Bonds Ritel adalah Rp 1.000.000,- (satu juta rupiah). Minimal pembeliannya adalah Rp 1.000.000,- dan kelipatannya, dengan batasan maksimal pembelian adalah setara Rp 3.000.000.000,-.
              </p>
            </div>
          </div>
      </div>
  </div>
  <div id="accordion9">
      <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseNine">
            <span>
              Bagaimana cara menghitung keuntungan berinvestasi dari Saving Bonds Ritel seri SBR-003berupa kupon yang akan diperoleh dalam berinvestasi pada Saving Bonds Ritel seri SBR-003?
            </span>
          </div>
          <div id="collapseNine" class="collapse value" data-parent="#accordion9">
            <div class="card-body">
              <p>
                Besar keuntungan yang anda peroleh setiap bulan (kupon) dari berinvestasi pada SBR-003 dapat anda hitung dengan mengunduh kalkulator dibawah ini:
              </p>
              <br>
              <a href="/documents/1611492/1612420/Kalkulator+Kupon+SBR003/253d489c-d9a2-46e1-a0c2-6a42a1a9c996" class="cxrus-mantreasure-btn blue">
                Donwload
              </a>
            </div>
          </div>
      </div>
  </div>
  <div id="accordion10">
      <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseTen">
            <span>
              Bagaimana perlakuan pajak terhadap kupon Saving Bond Ritel seri SBR-003?
            </span>
          </div>
          <div id="collapseTen" class="collapse value" data-parent="#accordion10">
            <div class="card-body">
              <p>
                PPh Final Saving Bond Ritel dan ORI adalah sebesar 15%.
              </p>
            </div>
          </div>
      </div>
  </div>
  <div id="accordion11">
      <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseEleven">
            <span>
              Apabila pemegang Saving Bonds Ritel meninggal dunia, apakah bisa diwariskan kepada ahli warisnya dan bagaimana caranya?
            </span>
          </div>
          <div id="collapseEleven" class="collapse value" data-parent="#accordion11">
            <div class="card-body">
              <p>
                Kepemilikan Saving Bonds Ritel tidak dapat dipindahtangankan sampai dengan jatuh tempo namun hak atas bunga maupun pokok SBR dapat dialihkan kepada ahli waris yang berhak sesuai keputusan pengadilan.
              </p>
            </div>
          </div>
      </div>
  </div>
  <div id="accordion12">
      <div class="card">
          <div class="card-header title" data-toggle="collapse" data-target="#collapseTwelve">
            <span>
              Pada saat Saving Bond Ritel jatuh tempo, bagaimana mekanisme pembayaran Nilai Nominal kepada pemegang Saving Bond Ritel?
            </span>
          </div>
          <div id="collapseTwelve" class="collapse value" data-parent="#accordion12">
            <div class="card-body">
              <p>
                Mekanisme pembayaran Nilai Nominal kepada Pemegang Saving Bond Ritel pada saat jatuh tempo akan dilaksanakan secara otomatis dengan mentransfer ke Rekening Tabungan Pemegang Saving Bond Ritel.
              </p>
            </div>
          </div>
      </div>
  </div>
  </div>
</div>
