<div class="section-register XXsnipcss_extracted_selector_selectionXX">
  <div class="container">
    <div class="progress-bar">
      <ul class="container-line" style="background-color: white;">
        <li class="line-progress">
        </li>
        <li class="line-progress">
        </li>
        <li class="line-progress">
        </li>
        <li class="line-progress">
        </li>
        <li class="line-progress">
        </li>
      </ul>
      <ul class="container-number">
        <li class="number-progress active">
          1
        </li>
        <li class="number-progress">
          2
        </li>
        <li class="number-progress">
          3
        </li>
        <li class="number-progress">
          4
        </li>
        <li class="number-progress">
          5
        </li>
        <li class="number-progress">
          6
        </li>
      </ul>
    </div>
    <div class="form-register">
      <h3 class="title">
        1. Verifikasi NIK
      </h3>
      <form action="https://sbndev.bankmandiri.co.id:443/registration?p_auth=h61oZQLQ&amp;p_p_id=sbnselfregistration_WAR_sbnselfregistrationportlet&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_sbnselfregistration_WAR_sbnselfregistrationportlet_action=saveStep1" class="form " id="_sbnselfregistration_WAR_sbnselfregistrationportlet_fm1" method="post" name="_sbnselfregistration_WAR_sbnselfregistrationportlet_fm1" enctype="multipart/form-data">
        <input name="_sbnselfregistration_WAR_sbnselfregistrationportlet_formDate" type="hidden" value="1618306933448">
        <div class="row form-group">
          <div class="col-sm-4">
            <label class="control-label">
              Masukkan nomor NIK Anda
            </label>
          </div>
          <div class="col-sm-8">
            <div class="control-group input-text-wrapper">
              <input class="field" id="_sbnselfregistration_WAR_sbnselfregistrationportlet_idNumber" name="_sbnselfregistration_WAR_sbnselfregistrationportlet_idNumber" placeholder="NIK" title="NIK" type="text" value="">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4">
            <label class="control-label">
              Upload foto KTP Anda
            </label>
          </div>
          <div class="col-sm-8">
            <label for="_sbnselfregistration_WAR_sbnselfregistrationportlet_idCard" class="id-card">
              <input type="text" name="" placeholder="Pilih File" class="form-control" readonly="" id="file-path">
              <span class="cxrus-mantreasure-btn blue browse-file">
                Browse
              </span>
              <span class="text-note">
                Max size 1 MB, Format file JPEG, JPG atau PNG
              </span>
            </label>
            <div class="preview-file" id="preview-file">
              <span id="label-preview">
                Foto KTP Anda
              </span>
              <img src="https://sbndev.bankmandiri.co.id/registration?p_p_id=sbnselfregistration_WAR_sbnselfregistrationportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_sbnselfregistration_WAR_sbnselfregistrationportlet_action=step1" class="img-preview" id="img-preview">
            </div>
            <div class="control-group input-text-wrapper">
              <input class="field" id="_sbnselfregistration_WAR_sbnselfregistrationportlet_idCard" name="_sbnselfregistration_WAR_sbnselfregistrationportlet_idCard" title="Foto KTP" type="file" value="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-8">
            <div class="btn-holder">
              <button type="button" class="cxrus-mantreasure-btn blue right with-arrow" id="submitButton" onclick="_sbnselfregistration_WAR_sbnselfregistrationportlet_validateForm();">
                Lanjut 
                <!-- <i class="material-icons">
                  arrow_forward
                </i> -->
              </button>
              <a href="https://sbndev.bankmandiri.co.id:443/registration?p_p_id=sbnselfregistration_WAR_sbnselfregistrationportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1" class="cxrus-mantreasure-btn grey with-back-arrow">
                <!-- <i class="material-icons">
                  arrow_backward
                </i> -->
                Kembali
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
