@font-face { 
font-family:GothamBook;
src:url(https://sbndev.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBook.otf);
} 
@font-face { 
font-family:GothamBold;
src:url(https://sbndev.bankmandiri.co.id/login-theme/fonts/Gotham/GothamBold.otf);
} 
@font-face { 
font-family:'Material Icons';
font-style:normal;
font-weight:400;
src:url(https://sbndev.bankmandiri.co.id/login-theme/fonts/iconfont/MaterialIcons-Regular.eot);
/* For IE6-8 */
  src:local("Material Icons"), local("MaterialIcons-Regular"), url(https://sbndev.bankmandiri.co.id/login-theme/fonts/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(https://sbndev.bankmandiri.co.id/login-theme/fonts/iconfont/MaterialIcons-Regular.woff) format("woff"), url(https://sbndev.bankmandiri.co.id/login-theme/fonts/iconfont/MaterialIcons-Regular.ttf) format("truetype");
} 
.portlet-content, .portlet-minimized .portlet-content-container { 
    padding: 0 !important; 
    padding-top: 0px !important; 
    padding-right: 0px !important; 
    padding-bottom: 0px !important; 
    padding-left: 0px !important;
} 

.portlet-content, .portlet-minimized .portlet-content-container { 
    padding: 12px 10px 10px; 
    padding-top: 12px; 
    padding-right: 10px; 
    padding-bottom: 10px; 
    padding-left: 10px;
} 

.wrapper-login .portlet-content { 
    padding: 0; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.portlet { 
    background: transparent !important; 
    margin-bottom: 0 !important; 
    background-image: initial !important; 
    background-position-x: initial !important; 
    background-position-y: initial !important; 
    background-size: initial !important; 
    background-repeat-x: initial !important; 
    background-repeat-y: initial !important; 
    background-attachment: initial !important; 
    background-origin: initial !important; 
    background-clip: initial !important; 
    background-color: transparent !important;
} 

.aui article, .aui aside, .aui details, .aui figcaption, .aui figure, .aui footer, .aui header, .aui hgroup, .aui nav, .aui section { 
    display: block;
} 

[class*="span"]  { 
    float: left; 
    min-height: 1px; 
    margin-left: 20px;
} 

.aui .span12 { 
    width: 940px;
} 

@media (min-width: 1200px){     
[class*="span"]  { 
    float: left; 
    min-height: 1px; 
    margin-left: 30px;
} 
}     

@media (min-width: 1200px){     
.aui .span12 { 
    width: 1170px;
} 
}     

[class*="span"]  { 
    display: block; 
    width: 100%; 
    min-height: 30px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    float: left; 
    margin-left: 2.12766%;
} 

.aui .row-fluid .span12 { 
    width: 100%;
} 

@media (min-width: 1200px){     
[class*="span"]  { 
    display: block; 
    width: 100%; 
    min-height: 30px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    float: left; 
    margin-left: 2.5641%;
} 
}     

@media (min-width: 1200px){     
.aui .row-fluid .span12 { 
    width: 100%;
} 
}     

[class*="span"]  { 
    box-sizing: border-box; 
    display: block; 
    float: right; 
    margin-left: 0; 
    min-height: 30px; 
    margin-top: 10%;
} 

[class*="span"]  { 
    margin-top: 0; 
    float: left;
} 

[class*="span"]:first-child  { 
    margin-left: 0;
} 

@media (min-width: 1200px){     
[class*="span"]:first-child  { 
    margin-left: 0;
} 
}     

.aui .row-fluid { 
    width: 100%;
} 

@media (min-width: 1200px){     
.aui .row-fluid { 
    width: 100%;
} 
}     

#content { 
    text-align: center;
} 

#content { 
    text-align: left;
} 

#content { 
    margin-top: 4.8rem;
} 

body { 
    line-height: 1.5; 
    font-family: 'Roboto', sans-serif; 
    max-height: 100%; 
    overflow: hidden; 
    font-size: 16px; 
    overflow-x: hidden; 
    overflow-y: hidden;
} 

.aui body { 
    margin: 0; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 20px; 
    color: #333; 
    background-color: white; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

.aui body { 
    color: #000; 
    font-family: GothamBook; 
    font-size: 14px; 
    line-height: 20px; 
    margin: 0; 
    margin: 0 auto; 
    min-height: 100vh; 
    text-align: left; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

.aui body { 
    overflow: hidden; 
    overflow-x: hidden; 
    overflow-y: hidden;
} 

.aui.login-app body { 
    overflow-y: auto;
} 

.aui { 
    color: #333; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px; 
    line-height: 20px; 
    margin: 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

.section-register { 
    padding: 6rem 0; 
    padding-top: 6rem; 
    padding-right: 0px; 
    padding-bottom: 6rem; 
    padding-left: 0px;
} 

:selection { 
    color: #fff; 
    background-color: #98c5e9;
} 

.container { 
    width: 1366px; 
    max-width: 100%;
} 

.container , .container , .container , .container  { 
    width: 940px;
} 

.container  { 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 1200px){     
.container , .container , .container , .container  { 
    width: 1170px;
} 
}     

.container:before , .container:after  { 
    display: table; 
    content: ""; 
    line-height: 0;
} 

.clearfix:before , .clearfix:after , .container:before , .container:after , .container-fluid:before , .container-fluid:after , .row:before , .row:after , .form-group:before , .form-group:after  { 
    display: table; 
    content: " ";
} 

.container:after  { 
    clear: both;
} 

.clearfix:after , dd:after , .container:after , .container-fluid:after , .row:after  { 
    clear: both;
} 

.progress-bar  { 
    width: 70%; 
    margin: 0 auto; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

.form-register  { 
    width: 65%; 
    margin: 0 auto; 
    padding-top: 90px; 
    color: #555; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

ul , .aui ol { 
    padding: 0; 
    margin: 0 0 10px 25px; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 10px; 
    margin-left: 25px;
} 

ul.container-line  { 
    margin: 0; 
    padding: 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

ul.container-number  { 
    margin: 0; 
    padding: 0; 
    margin-top: -20px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.aui h1, .aui h2, h3 , .aui h4, .aui h5, .aui h6 { 
    margin: 10px 0; 
    font-family: inherit; 
    font-weight: bold; 
    line-height: 20px; 
    color: inherit; 
    text-rendering: optimizelegibility; 
    margin-top: 10px; 
    margin-right: 0px; 
    margin-bottom: 10px; 
    margin-left: 0px;
} 

.aui h1, .aui h2, h3  { 
    line-height: 40px;
} 

h3  { 
    font-size: 24.5px;
} 

.aui h1, .aui h2, h3  { 
    line-height: 20px;
} 

.form-register .title  { 
    font-weight: normal; 
    margin-bottom: 5rem; 
    color: #67b2e8;
} 

form  { 
    margin: 0 0 20px; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 20px; 
    margin-left: 0px;
} 

li  { 
    line-height: 20px;
} 

ul.container-line .line-progress  { 
    display: inline-block; 
    height: 3px; 
    background: #ccc; 
    width: 18%; 
    margin: 0; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(204, 204, 204); 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

ul.container-number .number-progress  { 
    display: inline-block; 
    width: 10px; 
    height: 20px; 
    background: #ccc; 
    padding: 15px 20px; 
    text-align: center; 
    border-radius: 29px; 
    font-size: 1.2rem; 
    color: #FFF; 
    margin: 0 44px; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(204, 204, 204); 
    padding-top: 15px; 
    padding-right: 20px; 
    padding-bottom: 15px; 
    padding-left: 20px; 
    border-top-left-radius: 29px; 
    border-top-right-radius: 29px; 
    border-bottom-right-radius: 29px; 
    border-bottom-left-radius: 29px; 
    margin-top: 0px; 
    margin-right: 44px; 
    margin-bottom: 0px; 
    margin-left: 44px;
} 

.section-register ul.container-line .line-progress.active, ul.container-number .number-progress.active  { 
    background: #67b2e8; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(103, 178, 232);
} 

ul.container-number .number-progress:first-child  { 
    margin-left: 0;
} 

ul.container-number .number-progress:last-child  { 
    margin-right: 0;
} 

button , input , .aui select, .aui textarea { 
    margin: 0; 
    font-size: 100%; 
    vertical-align: middle; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

button , input  { 
    line-height: normal;
} 

label , input , button , .aui select, .aui textarea { 
    font-size: 14px; 
    font-weight: normal; 
    line-height: 20px;
} 

input , button , .aui select, .aui textarea { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
} 

input , .aui textarea, .aui .uneditable-input { 
    width: 206px;
} 

input , .aui textarea, .aui .uneditable-input { 
    margin-left: 0;
} 

@media (min-width: 1200px){     
input , .aui textarea, .aui .uneditable-input { 
    margin-left: 0;
} 
}     

.row  { 
    margin-left: -20px;
} 

@media (min-width: 1200px){     
.row  { 
    margin-left: -30px;
} 
}     

.form-register .row  { 
    margin: 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

.form-register .form-group  { 
    margin: 0; 
    margin-bottom: 1rem; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-left: 0px;
} 

.row:before , .row:after  { 
    display: table; 
    content: ""; 
    line-height: 0;
} 

@media (min-width: 1200px){     
.row:before , .row:after  { 
    display: table; 
    content: ""; 
    line-height: 0;
} 
}     

.row:after  { 
    clear: both;
} 

@media (min-width: 1200px){     
.row:after  { 
    clear: both;
} 
}     

.cxrus-mantreasure-wrapper .col-sm-1, .cxrus-mantreasure-wrapper .col-sm-2, .cxrus-mantreasure-wrapper .col-sm-3, .col-sm-4 , .cxrus-mantreasure-wrapper .col-sm-5, .cxrus-mantreasure-wrapper .col-sm-6, .cxrus-mantreasure-wrapper .col-sm-7, .col-sm-8 , .cxrus-mantreasure-wrapper .col-sm-9, .cxrus-mantreasure-wrapper .col-sm-10, .cxrus-mantreasure-wrapper .col-sm-11, .cxrus-mantreasure-wrapper .col-sm-12 { 
    float: left; 
    position: relative; 
    min-height: 1px;
} 

.col-sm-4  { 
    width: 33.33333%;
} 

.col-sm-8  { 
    width: 66.66667%;
} 

label , .aui select, button , input[type="button"] , input[type="reset"] , input[type="submit"] , input[type="radio"] , input[type="checkbox"]  { 
    cursor: pointer;
} 

label  { 
    display: block; 
    margin-bottom: 5px;
} 

.form-register .control-label  { 
    margin-top: .6rem; 
    cursor: default; 
    font-weight: 600;
} 

.control-group  { 
    margin-bottom: 10px;
} 

.form-register label.id-card  { 
    margin-bottom: 1rem;
} 

.form-register .preview-file  { 
    width: 310px; 
    height: 190px; 
    vertical-align: middle; 
    text-align: center; 
    border: 1px solid #555; 
    border-radius: 10px; 
    display: table-cell; 
    overflow: hidden; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(85, 85, 85); 
    border-right-color: rgb(85, 85, 85); 
    border-bottom-color: rgb(85, 85, 85); 
    border-left-color: rgb(85, 85, 85); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    overflow-x: hidden; 
    overflow-y: hidden;
} 

.form-register .btn-holder  { 
    width: 318px; 
    margin-top: 2rem;
} 

.aui select, .aui textarea, input[type="text"] , input[type="password"] , input[type="datetime"] , input[type="datetime-local"] , input[type="date"] , input[type="month"] , input[type="time"] , input[type="week"] , input[type="number"] , input[type="email"] , input[type="url"] , input[type="search"] , input[type="tel"] , input[type="color"] , .aui .uneditable-input { 
    display: inline-block; 
    height: 20px; 
    padding: 4px 6px; 
    margin-bottom: 10px; 
    font-size: 14px; 
    line-height: 20px; 
    color: #555; 
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    vertical-align: middle; 
    padding-top: 4px; 
    padding-right: 6px; 
    padding-bottom: 4px; 
    padding-left: 6px; 
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px; 
    border-bottom-left-radius: 2px;
} 

.aui textarea, input[type="text"] , input[type="password"] , input[type="datetime"] , input[type="datetime-local"] , input[type="date"] , input[type="month"] , input[type="time"] , input[type="week"] , input[type="number"] , input[type="email"] , input[type="url"] , input[type="search"] , input[type="tel"] , input[type="color"] , .aui .uneditable-input { 
    background-color: white; 
    border: 1px solid #ccc; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); 
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); 
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); 
    -webkit-transition: border linear .2s,box-shadow linear .2s; 
    -moz-transition: border linear .2s,box-shadow linear .2s; 
    -o-transition: border linear .2s,box-shadow linear .2s; 
    transition: border linear .2s,box-shadow linear .2s; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(204, 204, 204); 
    border-right-color: rgb(204, 204, 204); 
    border-bottom-color: rgb(204, 204, 204); 
    border-left-color: rgb(204, 204, 204); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    transition-duration: 0.2s, 0.2s; 
    transition-timing-function: linear, linear; 
    transition-delay: 0s, 0s; 
    transition-property: border, box-shadow;
} 

.control-group input  { 
    background-color: #eee; 
    background-image: none; 
    border-color: none; 
    border: 0 none; 
    border-radius: 10px; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset; 
    color: #555; 
    display: block; 
    font-size: 14px; 
    height: 34px; 
    line-height: 1.42857; 
    padding: 6px 12px; 
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-top-style: none; 
    border-right-style: none; 
    border-bottom-style: none; 
    border-left-style: none; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: initial; 
    border-left-color: initial; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    padding-top: 6px; 
    padding-right: 12px; 
    padding-bottom: 6px; 
    padding-left: 12px; 
    transition-duration: 0.15s, 0.15s; 
    transition-timing-function: ease-in-out, ease-in-out; 
    transition-delay: 0s, 0s; 
    transition-property: border-color, box-shadow;
} 

.form-register .form-control , .form-register .control-group input  { 
    padding: 10px 15px; 
    border-radius: 10px; 
    outline: 0; 
    margin: 0; 
    width: 280px; 
    border: 1px solid #555; 
    background: #FFF; 
    height: 25px; 
    padding-top: 10px; 
    padding-right: 15px; 
    padding-bottom: 10px; 
    padding-left: 15px; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    outline-color: initial; 
    outline-style: initial; 
    outline-width: 0px; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: rgb(85, 85, 85); 
    border-right-color: rgb(85, 85, 85); 
    border-bottom-color: rgb(85, 85, 85); 
    border-left-color: rgb(85, 85, 85); 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(255, 255, 255);
} 

input[disabled] , select[disabled] , textarea[disabled] , input[readonly] , select[readonly] , textarea[readonly]  { 
    cursor: not-allowed; 
    background-color: #eee;
} 

.cxrus-mantreasure-btn { 
    text-transform: uppercase; 
    border-radius: 20px; 
    display: inline-block; 
    padding: 7px; 
    text-align: center; 
    font-family: GothamBold!important; 
    font-size: 11px!important; 
    border-style: solid; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px; 
    padding-top: 7px; 
    padding-right: 7px; 
    padding-bottom: 7px; 
    padding-left: 7px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid;
} 

.cxrus-mantreasure-btn.blue { 
    background-color: #73c3f5!important; 
    color: white!important; 
    border-color: #73c3f5!important; 
    padding: 7px 25px; 
    outline: 0; 
    transition: .3s; 
    -webkit-transition: .3s; 
    -moz-transition: .3s; 
    -o-transition: .3; 
    padding-top: 7px; 
    padding-right: 25px; 
    padding-bottom: 7px; 
    padding-left: 25px; 
    outline-color: initial; 
    outline-style: initial; 
    outline-width: 0px; 
    transition-duration: 0.3s; 
    transition-timing-function: ease; 
    transition-delay: 0s; 
    transition-property: all; 
    border-top-color: rgb(115, 195, 245) !important; 
    border-right-color: rgb(115, 195, 245) !important; 
    border-bottom-color: rgb(115, 195, 245) !important; 
    border-left-color: rgb(115, 195, 245) !important;
} 

.form-register .browse-file  { 
    margin-left: 1rem;
} 

.form-register label.id-card .text-note  { 
    left: 66%; 
    top: 3.5rem; 
    position: absolute; 
    width: 30%;
} 

img  { 
    max-width: 100%;
} 

img  { 
    max-width: 100%; 
    width: auto\9; 
    height: auto; 
    vertical-align: middle; 
    border: 0; 
    -ms-interpolation-mode: bicubic; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-top-style: initial; 
    border-right-style: initial; 
    border-bottom-style: initial; 
    border-left-style: initial; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: initial; 
    border-left-color: initial; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial;
} 

.form-register .preview-file .img-preview  { 
    display: none; 
    width: 310px; 
    height: 190px;
} 

input[type="file"] , input[type="image"] , input[type="submit"] , input[type="reset"] , input[type="button"] , input[type="radio"] , input[type="checkbox"]  { 
    width: auto;
} 

.aui select, input[type="file"]  { 
    height: 30px; 
    line-height: 30px;
} 

.form-register input[type="file"]  { 
    display: none;
} 

.right { 
    float: right;
} 

button , input[type="button"] , input[type="reset"] , input[type="submit"]  { 
    -webkit-appearance: button; 
    cursor: pointer; 
    appearance: button;
} 

button  { 
    -webkit-tap-highlight-color: transparent;
} 

.cxrus-mantreasure-btn.with-arrow, .cxrus-mantreasure-btn.with-back-arrow { 
    text-align: left; 
    padding-right: 5rem!important; 
    position: relative;
} 

a  { 
    color: #0af; 
    text-decoration: none; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
} 

a  { 
    color: #000;
} 

a  { 
    color: #FFF;
} 

.cxrus-mantreasure-btn.with-back-arrow { 
    text-align: right; 
    padding-right: 25px!important; 
    padding-left: 4rem!important;
} 

.cxrus-mantreasure-btn.grey { 
    background-color: #bbb!important; 
    color: white!important; 
    border-color: #bbb!important; 
    padding: 6px 25px; 
    outline: 0; 
    transition: .3s; 
    -webkit-transition: .3s; 
    -moz-transition: .3s; 
    -o-transition: .3; 
    padding-top: 6px; 
    padding-right: 25px; 
    padding-bottom: 6px; 
    padding-left: 25px; 
    outline-color: initial; 
    outline-style: initial; 
    outline-width: 0px; 
    transition-duration: 0.3s; 
    transition-timing-function: ease; 
    transition-delay: 0s; 
    transition-property: all; 
    border-top-color: rgb(187, 187, 187) !important; 
    border-right-color: rgb(187, 187, 187) !important; 
    border-bottom-color: rgb(187, 187, 187) !important; 
    border-left-color: rgb(187, 187, 187) !important;
} 

.material-icons { 
    font-family: 'Material Icons'; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 24px; 
    display: inline-block; 
    line-height: 1; 
    text-transform: none; 
    letter-spacing: normal; 
    word-wrap: normal; 
    white-space: nowrap; 
    direction: ltr; 
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility; 
    -moz-osx-font-smoothing: grayscale; 
    font-feature-settings: 'liga'; 
    overflow-wrap: normal;
} 

.cxrus-mantreasure-btn.with-arrow .material-icons , .cxrus-mantreasure-btn.with-back-arrow .material-icons  { 
    position: absolute; 
    right: 8px; 
    top: 8px; 
    font-size: 1.3rem;
} 

.cxrus-mantreasure-btn.with-back-arrow .material-icons  { 
    right: 30px;
} 

.section-register .progress-bar { 
    width: 70%; 
    margin: 0 auto; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

.aui .container, .aui .navbar-static-top .container, .aui .navbar-fixed-top .container, .aui .navbar-fixed-bottom .container { 
    width: 940px;
} 

.aui .container { 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 1200px){     
.aui .container, .aui .navbar-static-top .container, .aui .navbar-fixed-top .container, .aui .navbar-fixed-bottom .container { 
    width: 1170px;
} 
}     

.aui ul , .aui ol { 
    padding: 0; 
    margin: 0 0 10px 25px; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 10px; 
    margin-left: 25px;
} 

.section-register ul.container-number  { 
    margin: 0; 
    padding: 0; 
    margin-top: -32px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.number-progress  { 
    display: inline-block; 
    width: 10px; 
    height: 20px; 
    background: #ccc; 
    padding: 15px 20px; 
    text-align: center; 
    border-radius: 29px; 
    font-size: 1.2rem; 
    color: #FFF; 
    margin: 0 44px; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(204, 204, 204); 
    padding-top: 15px; 
    padding-right: 20px; 
    padding-bottom: 15px; 
    padding-left: 20px; 
    border-top-left-radius: 29px; 
    border-top-right-radius: 29px; 
    border-bottom-right-radius: 29px; 
    border-bottom-left-radius: 29px; 
    margin-top: 0px; 
    margin-right: 44px; 
    margin-bottom: 0px; 
    margin-left: 44px;
} 

.section-register ul.container-line .line-progress.active, .number-progress.active  { 
    background: #67b2e8; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(103, 178, 232);
} 

.number-progress:first-child  { 
    margin-left: 0;
} 

.number-progress:last-child  { 
    margin-right: 0;
} 

.aui .container , .container , .container , .container  { 
    width: 940px;
} 

.aui .container  { 
    margin-right: auto; 
    margin-left: auto;
} 

@media (min-width: 1200px){     
.aui .container , .container , .container , .container  { 
    width: 1170px;
} 
}     

