<div class="section-regis-step1 XXsnipcss_extracted_selector_selectionXX">
  <div class="container">
    <h3 class="title">
      <p>
        Pastikan Anda Memenuhi Syarat dan Ketentuan
      </p>
      <p>
        Registrasi SBN Ritel Online Bank Mandiri
      </p>
    </h3>
    <div class="row content-step1">
      <div class="col-sm-3">
        <img src="https://sbndev.bankmandiri.co.id/login-theme/images/icon/user.png">
        <p class="desc-regis">
          Terdaftar sebagai nasabah Bank Mandiri 
        </p>
      </div>
      <div class="col-sm-3">
        <img src="https://sbndev.bankmandiri.co.id/login-theme/images/icon/book.png">
        <p class="desc-regis">
          Rekening Tabungan Aktif di Bank Mandiri 
        </p>
      </div>
      <div class="col-sm-3">
        <img src="https://sbndev.bankmandiri.co.id/login-theme/images/icon/phone.png">
        <p class="desc-regis">
          Nomor HP sudah terdaftar pada SMS Banking Bank Mandiri 
        </p>
      </div>
      <div class="col-sm-3">
        <img src="https://sbndev.bankmandiri.co.id/login-theme/images/icon/id-card.png">
        <p class="desc-regis">
          Kartu Tanda Penduduk sesuai dengan Dukcapil 
        </p>
      </div>
    </div>
    <!-- <a href="https://sbndev.bankmandiri.co.id:443/registration?p_p_id=sbnselfregistration_WAR_sbnselfregistrationportlet&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_sbnselfregistration_WAR_sbnselfregistrationportlet_action=step1" class="cxrus-mantreasure-btn blue right with-arrow"> -->
    <a routerLink="/web/sbn/registration-step1" class="cxrus-mantreasure-btn blue right with-arrow">
      Lanjut 
      <!-- <i class="material-icons">
        arrow_forward
      </i> -->
    </a>
  </div>
</div>
  